[2016-02-15 19:58] kristerkari opened #1 "Rule idea: require a placeholder when using @extend"
Sometimes you only use `@extend` to share code between two or more classes, but never actually use the class that your extending. In this case it would be a good idea to require `@extend` to only be used with placeholder selectors (e.g. `%my-class`).

For example, this code:

[code]

...gets compiled to:

[code]

You have `.icon` defined in your CSS even if you don't plan to use it.

However, if y

[2016-02-15 20:18] kristerkari opened #2 "Rule idea: Require interpolation when string variables are used as custom identiefiers"
Some CSS features like animations allow the user to specify a custom identifier for animation name.

So if you have `animation-name` as a string inside a Sass variable, you need to use interpolation to get rid of the quotes. There could be a rule that requires interpolation to be used in those cases.

So this SCSS:

[code]

...gets compiled to:

[code]

Which does not work. You need to use interpo

[2016-02-15 20:45] davidtheclark opened #3 "Rule idea: selector-no-redundant-parent"
Basically this: https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#unnecessaryparentreference

[2016-02-15 20:48] davidtheclark opened #4 "Rule idea: color-no-non-variables"
Someone may want to enforce that any color values are named and reused as variables.

This can make the code more legible and DRY.

[code]

[2016-02-15 20:55] kristerkari commented on #3
Good idea. :+1:  It will also be very helpful to look at scss-lint's implementation/tests to see how it is done.

- Linter: https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/unnecessary_parent_reference.rb
- Tests: https://github.com/brigade/scss-lint/blob/master/spec/scss_lint/linter/unnecessary_parent_reference_spec.rb

[2016-02-15 20:58] kristerkari commented on #4
Should this be done in simple way so that it would only check that the values are variables, or should it also check that used variables are actually colors?

[2016-02-15 21:06] davidtheclark commented on #4
I think this rule would actually be kind of difficult, because it would require figuring out how to check that a given value *should* be a color, then seeing if it is a variable or not. Maybe it would have to be limited in that respect.

I was just thinking that it would check that you use variables where colors are expected. One problem with trying to check the variable's value is that people oft

[2016-02-15 21:14] kristerkari commented on #4
True. I have seen variables in different file many times, so checking for its value would not really work.

[2016-03-29 10:56] kristerkari commented on #2
I'm working on this feature, but as it is a bit complicated, I won't open a PR yet.

[2016-03-30 19:07] #3 closed

[2016-03-31 06:45] #1 closed

[2016-03-31 10:21] arnaudvalle opened #8 "Rule idea: dollar-variable-pattern"
Following my question on SO (http://stackoverflow.com/questions/36304921) I'm proposing to add a rule to enforce a naming convention for variable names in SCSS.

Something like https://github.com/sasstools/sass-lint/pull/257 would be great I reckon, where we could either specify a string for a preferred common format (camelcase, snakecase etc...) or a custom pattern.

For example I may want my var

[2016-03-31 11:13] jeddy3 commented on #8
Hi @arnaudvalle. I'm not a contributor here, but I help out on the `stylelint` linter itself. Perhaps I can be of some help here...

There's some stylelint documentation that you might find useful when getting started: [working on rules](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md) & [writing plugins](https://github.com/stylelint/stylelint/blob/master/docs/deve

[2016-03-31 12:20] arnaudvalle commented on #8
@jeddy3 thanks for the links, they'll definitely be useful when I have a go at this!

[2016-03-31 20:44] kristerkari commented on #8
Thanks! This is something that should not be that hard to implement.

[2016-04-12 09:20] jeddy3 commented on #8
You'll probably want to call this plugin: `stylelint-dollar-variable-pattern` so that the [precss](https://github.com/jonathantneal/precss) can use it too :)

[2016-04-19 22:16] kristerkari commented on #2
Pull request: #9

[2016-04-21 14:04] kristerkari commented on #8
Yeah, if the rule is not going to be only used for scss syntax, then it makes sense to make it a plugin and just wrap it in stylelint-scss.

[2016-04-27 13:41] dryoma commented on #2
Great project! Can't wait to start using it. One thing: could you please set **Assignee**s for issues if someone takes them up? For those who are thinking to conquer their shyness and try to contribute :)

[2016-04-28 06:13] ntwb opened #11 "Deprecated `stylelint-rule-tester`, switch to `stylelint-test-rule-tape`"
[stylelint-rule-tester](https://github.com/stylelint/stylelint-rule-tester) has been deprecated in favour of  [stylelint-test-rule-tape](https://github.com/stylelint/stylelint-test-rule-tape)

See https://github.com/stylelint/stylelint-rule-tester/issues/9

See also an example of the switch https://github.com/davidtheclark/stylelint-selector-bem-pattern/commit/796ad6cd9512884576e938ba1f18c9525e5b2

[2016-04-28 08:17] dryoma opened #12 "Rule idea: mixin-name-pattern, function-name-pattern"
Or `mixin-pattern`, `function-pattern` to follow the existing stylelint [rule naming conventions](http://stylelint.io/user-guide/rules/).

stylelint-scss already has a rule for placeholder names, the one for variable names is in a PR now. The subject rules are the ones missing. SCSS-lint has those (though in a format of [one general naming rule for Sass stuff](https://github.com/brigade/scss-lint/

[2016-04-28 08:30] dryoma commented on #4
I think checking variables values is a more of job of Sass compiler.

As for the rule idea: SCSS-lint (sorry to bring it up again; can't help it, since it's a functioning tool and the one seems the most popuar) hase [VariableForProperty](https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#variableforproperty) rule. It does almost the same, except it forces the policy no

[2016-04-28 09:06] kristerkari commented on #2
Yeah, sure thing.

[2016-04-28 09:10] kristerkari commented on #4
@dryoma could you open a new Github issue with your idea? It's easier to track things that way :)

[2016-04-28 09:16] dryoma opened #13 "Rule idea: value-no-non-variable"
Inspired by #4

SCSS-lint (sorry to bring it up again; can't help it, since it's a functioning tool and the one seems the most popuar) has [VariableForProperty](https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#variableforproperty) rule. It does almost the same, except it forces the policy not on _value types_ (like @davidtheclark proposed), but for _property names_ a

[2016-04-28 09:16] dryoma commented on #4
Done.

[2016-04-28 09:37] kristerkari commented on #8
This was implemented in #10, so closing. Thanks to everyone who participated!

[2016-04-28 09:37] #8 closed

[2016-04-28 09:38] kristerkari commented on #11
Thanks! stylelint moves so fast that it's hard to keep things up-to-date :)

[2016-04-28 10:00] kristerkari opened #14 "Release 1.0.0 checklist"
- [x] Complete 1.0.0 milestone
- [x] Check that all rules work and are correctly implemented
- [x] Add CHANGELOG
- [x] Add project README
- [x] Add list of rules (rules.md, https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md)
- [x] Create plugin/configuration that exposes rules (index.js that imports rules)
- [x] Wait for https://github.com/stylelint/stylelint/issues/1174 t

[2016-04-28 13:36] dryoma commented on #12
Another thing that came to mind is maybe these rules should have `sass-`/`scss-` prefix? So that they don't conflict with other rules written for other preprocessors, and also don't misguide users on what preprocessor/technology they rely.

[2016-04-28 13:39] kristerkari commented on #12
Yes, that can be done before releasing v1.0. I'll add that to the release checklist.

[2016-04-28 13:42] kristerkari commented on #13
Sounds good. I've added this to the milestone for a release after 1.0.

[2016-04-28 13:53] kristerkari commented on #12
Does stylelint use default options in rules? I think that we should try to keep things consistent with it and not with SCSS-lint.

[2016-04-28 14:17] dryoma commented on #12
I thougth that too (stylelint doesn't have predefined patterns for its core rules), but decided to suggest just in case.

[2016-04-28 15:49] dryoma commented on #14
I there anything here that could use some help? If so, please point on the items you'd like to assign to me, will be glad to contribute. I have several rule ideas I'd like to propose, but seems it would be better to get the release version up and running and all the way polished.

[2016-04-28 15:52] jeddy3 commented on #12
As you both spotted, there are no default primary options for stylelint rules. It was a conscience decision to both keeps the rules unopinionated and to mitigate having to deliberate on what the defaults options should be :)

[2016-04-28 16:04] jeddy3 commented on #13
Perhaps this is already achievable with [`property-value-whitelist`](https://github.com/stylelint/stylelint/tree/master/src/rules/property-value-whitelist), it's pretty powerful rule e.g.

[code]

[2016-04-28 16:22] jeddy3 commented on #12
This is tricky as I suspect quite a few of these rules will be applicable to [precss](https://github.com/jonathantneal/precss) users (or some other future processor). Hence the original suggestion of `dollar-variable-pattern`, rather than `scss-variable-pattern`. There could also be a plugin for Less users called `at-variable-pattern`.

I dunno if there's a right answer here though.

[2016-04-28 16:51] dryoma commented on #13
@jeddy3 if we stick to property names only, then it seems so. Yet the initial proposal was to control all values of specified type:

[code]
I'd allow myself to elaborate the example like this:

[code]
@davidtheclark am I right in the assumtion, that only the color-type values are to be forced to be variables with that rule, not the whole values of properties?

[2016-04-29 09:48] kristerkari commented on #12
Yeah, it is true that some of the rules can be used with other post/preprocessors.

However, I see some issues if we don't prefix the rules:
- It is probably harder for the users to know from where their stylelint rules are coming from.
- It might be possible that someone creates a rule in some other plugin that has the same name, but does something totally different.

[2016-04-29 09:56] kristerkari commented on #14
Yes, that would be great! You could create a proper README file that briefly describes the project or you could add missing configuration that allows rules to be used as a stylelint plugin. Just let me know what you want to work on.

[2016-04-29 10:05] kristerkari commented on #14
We still need to decide if we want to prefix the rules or not. There is ongoing discussion about it here:
https://github.com/kristerkari/stylelint-scss/issues/12#issuecomment-215483315

[2016-04-29 10:40] dryoma commented on #12
`at-variable-pattern`

Then how about `at-mixin-pattern` and `at-function-pattern`? Quite straightforward and doesn't narrow semantics of the names to Sass alone.

That would be a good compromise, thanks!

[2016-05-02 17:20] jeddy3 commented on #12
Sounds good to me :)

@kristerkari Your points are valid, but I think keeping rules focused on patterns (rather than parsers) will help keep the linter (and this plugin) relevant as the CSS processor world continues to evolve.

[2016-05-02 17:27] jeddy3 commented on #11
Yep. If it's any help:

1. We're going to be slowing things down a little :)
2. It's *very unlikely* the rule tester will change again. Adding the schema [was a major change](https://github.com/stylelint/stylelint/pull/824) which allowed the FB guys to use jest for their tests. So, once you migrate to the schema, you should be done.

[2016-05-03 13:35] dryoma commented on #14
I'll be glad to take writing a README (though it would probably be the last thing to be done), and plugin interface.

At the moment exposing the rules seems unconvenient - multiple plugin, one for each rule, are required. If the stylelint team likes [the idea of "one plugin = multiple rules"](https://github.com/stylelint/stylelint/issues/1174), it will become much simpler.

[2016-05-03 13:40] kristerkari commented on #14
Thanks @dryoma! Your help is really appreciated. I really want to get the first version out of the door as fast as possible.

[2016-05-03 14:43] evilebottnawi opened #19 "Rule idea: at-rule-import-path"
https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#importpath

[2016-05-03 14:45] evilebottnawi opened #20 "Rule-idea:space-around-operator"
https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#spacearoundoperator

[2016-05-03 20:08] kristerkari commented on #19
Thanks! Sounds good, I'll add this to the next milestone.

[2016-05-03 20:09] kristerkari commented on #20
Thanks! I guess this could be useful for someone, so I'll add this to the next milestone.

[2016-05-03 20:24] kristerkari commented on #12
I'm starting to think that maybe this repo should have a different name if the rules are not going to be parser specific. It sounds weird to me that you would use `stylelint-scss` to lint against something that is not scss. Any suggestions?

Maybe this plugin should also handle edge cases for other parsers (LESS, postcss plugins)?

[2016-05-03 21:01] kristerkari commented on #14
I added a couple of items to the checklist based on what stylelint has in their repo.

[2016-05-03 21:32] jeddy3 commented on #12
`stylelint-scss-like` :)

That sounds sensible. There probably won't be much overlap with Less, but I think they'll be plenty with postcss plugins (with the likes of [precss](https://github.com/jonathantneal/precss) and [these language extensions](https://github.com/postcss/postcss/blob/master/docs/plugins.md#language-extensions)). I think no longer relying on developer discipline by [crafting you

[2016-05-04 21:10] #12 closed

[2016-05-05 17:29] #2 closed

[2016-05-07 08:54] dryoma opened #21 "Rule idea: calculations-braces-around"
Inspired by [Sass Guilelines](https://sass-guidelin.es/#calculations)

Top-level numeric calculations should always be wrapped in parentheses. Not only does this requirement dramatically improve readability, it also prevents some edge cases by forcing Sass to evaluate the contents of the parentheses.

[code]

[2016-05-07 13:56] kristerkari commented on #21
Sounds good, the only thing that I'm worried about is that this kind of rule could have a lot of edge cases when linting.

I did a bit similar stuff to Stylefmt to format code with parens, so I know that it is not easy to get right:
e.g. https://github.com/morishitter/stylefmt/pull/70

[2016-05-08 18:16] evilebottnawi commented on #14
@kristerkari @dryoma You are well done! if you need help, I'm willing to help.

[2016-05-11 14:50] dryoma opened #23 "Rule idea: omit parentheses in argumentless mixin calls"
Omit parentheses in argumentless mixin calls. Inspired by [Sass Guidelines](https://sass-guidelin.es/#argument-less-mixins). Just in case any codestyle would want this.

[code]

[2016-05-11 14:51] dryoma commented on #21
Well, yeah...

I just decided to drop all the more-or-less decsent ideas here instead of piling then in a local .txt document :)

[2016-05-11 19:18] kristerkari commented on #23
Thanks! This should be easy to implement.

[2016-05-11 22:36] kristerkari commented on #14
@evilebottnawi Thanks, there's always something that needs to be done. Right now v1.0 is almost done.

[2016-05-12 07:22] jeddy3 commented on #14
Quick message (as I'm on my phone and aboard) to say the first release is looking great! I'll be able to look  more closely at things next week, but in the meantime two things stoodout that I thought were worth mentioning now, in case your plan to release soon.

I think extend-require-placeholder should be called at-extend-no-missing-placeholder - Disallow at-extends with missing placeholders. As

[2016-05-12 08:32] kristerkari commented on #14
Thanks for the feedback! Naming rules is for me the hardest part when creating new rules.

- `at-extend-no-missing-placeholder` the word "missing" sounds a bit weird for this rule, but if that is the naming convention, then I guess we'll have to use that. I don't know how I missed the `at-` prefix with that rule, but it definitely needs to be added 🔨 .
-  `selector-no-redundant-nesting` I don't re

[2016-05-12 08:35] dryoma commented on #14
Than how about `selector-no-redundant-nesting-selector`? Since "nesting selector" is the name proposed for `&` in the document linked above. Anyway, I think adding a `-selector` part at the end is quite crucial, since the rule not exactly prohibits parents - it is about the `&`.

`at-extend-no-missing-placeholder` - double negation seems a bit odd to me too, but yeah, since that is the convention

[2016-05-12 09:35] kristerkari commented on #14
Yeah, `-nesting-selector` sounds much better looking at the draft.

[2016-05-12 09:37] jeddy3 commented on #14
selector-no-redundant-nesting-selector - that works. I was going to suggest that originally, but then omitted the selector at the end for brevity. I can more see how that makes the rule's purpose ambiguous though.

It's a good rule btw! As in the spec the nesting selector is always required, even for "direct nesting", and so it makes sense that this rule belongs here as the nesting selector is opt

[2016-05-12 14:17] dryoma commented on #14
`at-extend-no-missing-placeholder`, `selector-no-redundant-nesting` — named these accordingly.

[2016-05-12 15:03] #14 closed

[2016-05-14 17:19] dryoma commented on #11
New testing tool applied. Moving on.

[2016-05-14 17:19] #11 closed

[2016-05-15 14:47] kristerkari commented on #11
👍 Thanks @dryoma

[2016-05-15 15:31] dryoma commented on #23
Implemented in 9d8fdbb84ebd74c3aa73a7ff75d36e5bfb3ed9be

[2016-05-15 15:31] #23 closed

[2016-05-19 20:24] jeddy3 commented on #20
Perhaps called `calculation-no-unspaced-operator` as "calculation" seems to be a [*thing*](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/about-rules.md#about-rule-names) in SCSS) so it can be used in tandem with stylelint's [core rule](https://github.com/stylelint/stylelint/tree/master/src/rules/function-calc-no-unspaced-operator)

[2016-05-19 20:34] jeddy3 commented on #19
Perhaps called `at-import-no-invalid-partial-path`?

`at-rules-*` rules [tend to apply to all at-rules](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md#at-rule), rather than a specific type.

[2016-05-20 05:53] dryoma commented on #19
@jeddy3 I'm actually thinking of making this two separate rules: `at-import-no-partial-leading-underscore` and `at-import-no-partial-extension`. The last one might take an array of extensions to forbid (`["scss", "less"]`).

[2016-05-20 08:49] jeddy3 commented on #19
Breaking this into two rules sounds good to me! You're getting better at this than me :)

`no-*` rules tend to only have `true` as the primary options. So, in this instance, you can either use a blacklist rule or `no-` rule with [secondary option](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#determine-options) *that makes the rule more permissive* e.g. respectiv

[2016-05-20 09:35] dryoma commented on #19
Thanks. I'm just working on a project where Sass partials and bootstrap files (and even CSS) of the same name can be in the same directory, so we sometimes have to specifically tell Sass what exactly we are importing.

Sure, didn't pay attention to the name while writing. Yeah, the `no-` variant looks better to me (easier to set up). But since Sass treats `@import`-s with `.css` [as simple CSS dir

[2016-05-20 10:10] jeddy3 commented on #19
Agreed. I figured that is implied by the fact the rule name has "partial" in it. Either way, explicitly stating in the rule's README that this is the behaviour should be enough :)

[2016-05-20 10:12] jeddy3 commented on #21
`calculation-no-missing-surrounding-parentheses`?

[2016-05-20 10:15] jeddy3 commented on #13
Yep, `property-value-whitelist` lets you do everything SCSS's `VariableForProperty` can do. But, you're right, if you want go beyond that then you'll need a bespoke rule.

[2016-05-20 19:02] mehcode opened #26 "Rule Idea: selector-placeholder-pattern"
https://github.com/stylelint/stylelint/pull/1338

[2016-05-20 23:29] el-mapache commented on #19
Hey @dryoma, hello from 18F! @jeddy3 reached out to me about potentially combining our efforts re: stylelint plugins. I've recently written some, including a couple around `@import` rules. I'd love to work with you all on contributing these back to the community.
Our repo can be found here: https://github.com/18F/18F-stylelint

Any comments, suggestions, edge-cases, PRs, etc. are more than welcome

[2016-05-23 09:15] kristerkari commented on #19
@el-mapache Hello! We should definitely combine efforts since you already have something that could be useful for this project.

[2016-05-23 09:17] kristerkari commented on #26
I guess we can create this since we already have other `-pattern` rules implemented.

[2016-05-23 11:09] dryoma commented on #19
@el-mapache hi! That would be nice, will check your code in a while :)

I already pushed a PR with `@import` rules. As for those in *18F-stylelint*: I'm sorry, but they seem a bit raw. `import-path-leading-underscore` doesn't consider file paths (e.g. `@import "path/to/_partial"`) and cases when Sass considers an `@import` just plain CSS import discussed above.

[2016-05-24 08:50] dryoma commented on #13
TODO: Check out this plugin https://github.com/sh-waqar/stylelint-declaration-use-variable

[2016-05-24 11:21] dryoma commented on #26
I made it working in a draft version, yet I have some minor doubts before pushing.

1. Placeholders could be used both in extends (`.foo { @extend %placeholder; }`) and in selectors, where they are defined (`%placeholder { color: #000; }`). Do we need to process all these cases, or maybe having an `includeDefinitions` optional param would be better? The arguments for the param would be a) parsing

[2016-05-24 11:33] kristerkari commented on #26
I think that we should only validate the placeholder when it is defined. Isn't that what we do in the other rules too?

That could be a good option to have, but probably not that critical for the first version of the rule.

[2016-05-24 13:54] dryoma commented on #26
It makes perfect sense. Dunno why I was focusing `@extend` here at all :)

[2016-05-24 14:12] dryoma opened #28 "Rule idea: at-import-disallow-in-partials"
Importing partials from other partials can lead to difficulties following what is included where, and lead to mistakes of duplicate imports (met those just about a month ago). Grouping all `@import` commands in Sass bootstrap files (those that get compiled into .css) on the other hand may improve clarity as all the includes are in one place, and the order is clear and strict.

Hugo Giraudel [elabo

[2016-05-24 14:16] dryoma commented on #19
Implemented by #27

[2016-05-24 14:16] #19 closed

[2016-05-24 14:20] dryoma opened #29 "Rule idea: at-media-no-non-variable / at-media-no-non-dollar-variable"
... or something like this. The point is to force all values inside `@media` queries be variables. The `-dollar-` variant is to underline that the rule forces `$var`s, not custom properties or variables from some other syntaxes.

Examples:
[code]

[2016-05-24 14:50] dryoma opened #30 "Rule idea: at-rule-blacklist"
Specify a blacklist of disallowed at-rules (mainly Sass constructs like `@extend`, `@include`).

Or `at-directive-blacklist`, since `@extend` and `@include`, as I see them, are not rules at all.

The main goal is to be able to disallow extends. But making one general blacklist rule seems a better idea then one specific rule (or two rules - some people might not like mixins).

[2016-05-25 21:05] kristerkari commented on #30
👍

[2016-05-25 21:06] kristerkari commented on #29
Why not, could be useful. 👍

[2016-05-25 21:09] kristerkari commented on #28
So would this rule check against `_` prefix in filename + `@import` inside the file?

[2016-05-26 16:17] dryoma commented on #28
Indeed.

[2016-05-26 22:40] gdenisov opened #32 "selector-no-redundant-nesting-selector false positive when followed by a character other than ':'"
'selector-no-redundant-nesting-selector' rule falsely assumes the selector is redundant in this common BEM use case:

[code]

More generally nesting selector is not redundant if immediately followed by a non white space character as it results in a new not nested rule.

[2016-05-27 14:25] jonrohan opened #33 "All the plugin rules are showing up severity: "ignore""
![image](https://cloud.githubusercontent.com/assets/54012/15610790/13e892d4-23f5-11e6-8d53-a7c8d96173c3.png)

I'm having trouble where all the rules from this plugin are severity warning. I'm not sure if it's a stylelint system problem because the error on `border: none;` is from a plugin also.

I've also tried this in my config file

[code]

And I still get a ignore

[2016-05-27 23:24] kristerkari commented on #32
Thanks for reporting! It looks like we need to add more tests for that rule and refactor the code a bit.

[2016-05-27 23:28] kristerkari commented on #33
Thanks for reporting this! I have been checking the severity levels, so we need to check if it works correctly.

[2016-05-31 18:29] #32 closed

[2016-05-31 19:08] #33 closed

[2016-05-31 19:09] #26 closed

[2016-05-31 20:34] reintroducing opened #37 "Error: Undefined rule "at-extend-no-missing-placeholder""
I'm getting the above error in terminal.  My config is as follows:

[code]

The scss.js file:

[code]

What am i doing wrong?

[2016-05-31 20:58] reintroducing commented on #37
apologies, completely missed the plugin namespacing, please ignore :)

[2016-05-31 20:58] #37 closed

[2016-06-01 08:44] evilebottnawi opened #38 "`at-mixin-pattern` buggy"
[code]
[code]
[code]

[2016-06-01 08:48] evilebottnawi opened #39 "`at-mixin-no-argumentless-call-parentheses` change behaviour"
Rename `at-mixin-no-argumentless-call-parentheses` to `at-mixin-argumentless-call-parentheses` with options "always"/"never", i want use always `()` and control this in code. What do you think guys?

[2016-06-01 19:43] #38 closed

[2016-06-01 19:47] dryoma commented on #38
Thanks for the report. Newlines inside braces were not considered.

@kristerkari how about publishing new patch versions when bugs are fixed?

[2016-06-01 19:49] dryoma commented on #39
I think it's a legit proposal. If noone minds, I'll take this up.

[2016-06-01 19:53] kristerkari commented on #38
@dryoma yes, let's do that.

[2016-06-01 19:54] kristerkari commented on #39
Sounds good!

[2016-06-01 19:56] kristerkari commented on #38
@dryoma is there something else to fix for now, or should I release a patch?

[2016-06-03 20:10] rob3c opened #41 "add new excludeExtensions blacklist option for `at-import-no-partial-extension`"
Rule `at-import-no-partial-extension` currently isn't very useful when namespacing files like `foo.bar.scss`, `foo.baz.scss`, etc. That's because stylelint-scss sees an import like

`@import "foo.bar";` // <-- bar should not be flagged as an extension here

as having extension `bar` instead of recognizing that it isn't using a common `.scss`, `.less`, etc. known extension and ignoring it.

The sty

[2016-06-04 17:38] dryoma commented on #41
To be honest, I did think about this use case, but decided to leave it for later. So no excuse to chill now :)

[2016-06-04 22:06] jeddy3 commented on #30
Do you fancy developing this one over at stylelint as `at-rule-name-blacklist` and `at-rule-name-whitelist` because it's applicable to more than `@extend` and `@include` e.g. `@supports`, `@keyframes`, `@font-face` etc...?

[Reference](https://www.w3.org/TR/css-syntax-3/#at-rule) for the *thing* name `at-rule-name-*`.

[2016-06-05 08:31] dryoma commented on #30
@jeddy3 that sounds even better, I'll give it a shot.

[2016-06-05 18:59] niksy opened #43 "Rule idea: extends-before-declarations / extends-before-mixins / mixins-before-declarations"
* https://github.com/sasstools/sass-lint/blob/master/docs/rules/extends-before-declarations.md
* https://github.com/sasstools/sass-lint/blob/master/docs/rules/extends-before-mixins.md
* https://github.com/sasstools/sass-lint/blob/master/docs/rules/mixins-before-declarations.md

I think everyone who uses Sass extensively could appreciate these rules. What do you think?

[2016-06-05 19:39] dryoma commented on #43
Thanks for the suggestion! I agree, there definitely has to be a way to force-sort stuff inside a rule, and now is a good opportunity to start discussing this matter :)

I, for one, was thinking of making it just one rule. Something similar to stylelint's [`declaration-block-properties-order`](http://stylelint.io/user-guide/rules/declaration-block-properties-order/), with array of values like `[ "

[2016-06-05 20:51] kristerkari commented on #43
This sounds good 👍

[2016-06-05 21:06] jeddy3 commented on #43
Perhaps you and the `postcss-sorting` guys can [combine forces on this one](
https://github.com/hudochenkov/postcss-sorting/issues/18#issuecomment-223791271) :) Such a rule would be a great help to the stylelint community.

Excuse the brevity... I'm on a phone.

[2016-06-05 21:58] niksy commented on #43
@dryoma yup, when I posted this, I quickly realized this should probably work the way you suggested :D

@jeddy3 yeah, making feature set from `postcss-sorting` as `stylelint` plugin would be great, so if and when that becomes plugin, I suppose this proposed rule idea would basically be predefined [at-rule definition](https://github.com/hudochenkov/postcss-sorting#at-rules) from that new plugin?

[2016-06-06 10:05] s10wen opened #44 "Rule idea: declaration-nested-properties"
From https://github.com/stylelint/stylelint/issues/1386#issuecomment-223788453 @jeddy3 suggested I post this here.

[2016-06-06 17:05] kristerkari commented on #44
Good idea 👍

[2016-06-06 17:06] kristerkari commented on #39
I think that we should put this into a major release because it is a breaking change.

[2016-06-06 17:08] kristerkari commented on #28
Implemented in #42

[2016-06-06 17:08] #28 closed

[2016-06-07 03:59] benjigreig opened #45 "Error: Plugin does not work with stylelint v3+"
Tried using stylelint-scss with stylelint v6.5.1 and received the following error:
`Error: stylelint v3+ requires plugins to expose a ruleName. The plugin "/path-to-project/node_modules/stylelint-scss/dist/index.js" is not doing this, so will not work with stylelint v3+. Please file an issue with the plugin.`

[2016-06-07 04:21] benjigreig commented on #45
Looks like the issue may actually be something else. I've cleaned out my node modules and it's behaving differently now. Not complaining about the plugin being incompatible, but now it can't interpret its rules.

[2016-06-07 04:21] #45 closed

[2016-06-08 08:47] dryoma commented on #39
Agreed.

[2016-06-11 18:12] dryoma commented on #39
@kristerkari I pushed this one into a new branch https://github.com/kristerkari/stylelint-scss/tree/2.0.0/at-mixin-argumentless-call-parentheses for now. Shall we create new branches for all other such cases (like rules for the specified release), or rather merge them in one `x.x.x` branch? Also, not sure how to label this issue now %)

[2016-06-11 22:43] jeddy3 commented on #30
Done in https://github.com/stylelint/stylelint/pull/1410

[2016-06-11 22:43] #30 closed

[2016-06-11 22:49] jeddy3 commented on #43
Yes, I think these rule could be achieved using those at-rule options. I'm not sure they'll be a "predefined definition" though as stylelint rules tend to come without defaults i.e. each user decided whether they want mixins before extends, or vice versa.

[2016-06-12 05:50] dryoma commented on #41
What if we split this one into two rules: `at-import-partial-extension-blacklist` and `at-import-partial-extension-whitelist` instead of two options to a "binary" rule? Will this be too much fragmentation?

@jeddy3 @kristerkari what do you think?

[2016-06-12 08:55] jeddy3 commented on #41
I think that's the most idiomatic way to go about this.

[2016-06-12 10:15] kristerkari commented on #39
I think that we can have separate branches for each feature, open PRs, and then just merge them when we are ready to release.

[2016-06-12 18:04] dryoma commented on #29
I have some cases for this rule I'd like to discuss. Suppose we have it as `media-query-value-dollar-variable: "always"/"never"`, which by itself looks ok. Then:

[code]

1) We might need some additional rules for `calculation` and `function` as a media query value. 2) Or just process those in this rule when using some additional options like `ignoreCalculation`. The first option seems decent at f

[2016-06-13 20:43] kristerkari commented on #29
My opinion is that if the rule is called `media-query-value-dollar-variable`, then it should only care about dollar variables, so in my opinion:
- For `always` only allow `$var` and `#{$var}` (because it would be difficult to allow any kind of calculation with all kinds of edge cases).
- For `never` don't allow any `$var` or calculation that contains `$var`, but allow calculation like `1000px + 24

[2016-06-15 10:36] kristerkari commented on #41
Done in https://github.com/kristerkari/stylelint-scss/pull/46

[2016-06-15 10:36] #41 closed

[2016-06-15 10:37] kristerkari commented on #29
Implemented in https://github.com/kristerkari/stylelint-scss/pull/47

[2016-06-15 10:37] #29 closed

[2016-06-15 13:47] dryoma commented on #39
The way we ended up pushing `at-import-partial-extension-blacklist` and `-whitelist` and deprecated `at-import-no-partial-extension` lead me to a suggestion: shall we do the same here? I mean create the new rule (`"always"/"never"`) and deprecate the old one for now (and remove it in 2.0.0)?

[2016-06-15 14:10] kristerkari commented on #39
@dryoma yeah we could do that.

[2016-06-15 16:01] jeddy3 commented on #39
Yep, sounds good. In stylelint we [have the convention](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/about-rules.md#no-rules) that something is a `-no-` rule *only if* it makes *no sense what-so-ever* to want to enforce the opposite as a convention. For example, `block-no-empty` where the opposite is to enforce that *every block must be empty*.

So, if there's even just an in

[2016-06-16 15:48] dryoma commented on #20
@jeddy sure, no problem.

As about the rule. I am goint to make it exactly a `-no-` rule, meaning prohibiting spaces around operators seems to be no-go. At least because `$var--lol` is a valid variable name in Sass, and if we prohibit spaces we will force users to write `$var - 10px` as `$var-10px`, which would lead to a totally incorrect result.

I'd also save ourselves an effort distinguishing `

[2016-06-16 15:50] jeddy3 commented on #20
I agree. Well reasoned.

[2016-06-16 16:02] evilebottnawi commented on #20
i think best options: "always" and "never".

[2016-06-16 16:03] evilebottnawi commented on #21
@jeddy3 here options: "always" and "never" be good here too. Some like add parentheses, some not like.

[2016-06-16 16:08] jeddy3 commented on #21
Sure. I wasn't really following [my own advice](https://github.com/kristerkari/stylelint-scss/issues/39#issuecomment-226234641) when I came up with that name suggestion... whoops.

[2016-06-16 16:20] dryoma commented on #20
@evilebottnawi with `"never"` users won't be able to write:

* `$var - 10px`; they will be forced to write it as `$var-10px`, which Sass interprets as a variable name (like in `$var-10px: #faaac0;`)
* `font-family: sans- + "serif";`; they will have to do it as `font-family: sans - + "serif";` which is compiled into `font-family: sans-+"serif";`

[2016-06-16 16:23] evilebottnawi commented on #20
@dryoma oops, i forget ;) right rule must have `no`

[2016-06-21 17:45] danny-andrews opened #48 "Rule idea: scss/comment-whitespace-inside and scss/comment-empty-line-before"
The standard comment-whitespace-inside and comment-emptly-line-before rules only work with standard css comments (e.g. `/* Comment */` [note](https://github.com/stylelint/stylelint/issues/1049#issuecomment-208857356)), so we should add a rule which checks these things for scss comments (e.g. `// Comment`).

[2016-06-23 06:10] dryoma commented on #48
Thanks, definitely a must.

[2016-06-23 06:44] dryoma commented on #20
Some more things I'd like to bring up:

1. Make `operator` rather than `calculation` the thing here, as the rule would work with conditions and logical operations (`@if ($i == 10 and $j != 1)`) as well.
1. Users (me included) would want control over where newlines are allowed: before or after an operator. Yet I think it's best to do it in a way of eslint's [`operator-linebreak`](http://eslint.org/

[2016-06-23 08:13] jeddy3 commented on #20
Nope, indentation should be the sole domain of the `indentation` rule.

Originally the `indentation` rule just ignored the indentation within function arguments and other parentheses. Now there is [an option](https://github.com/stylelint/stylelint/blob/master/src/rules/indentation/README.md#optional-options) to check. We putting it behind an option to avoid requiring a major release. With `7.0` on

[2016-06-23 11:05] dryoma commented on #20
Wow, totally missed those options, thanks!

[2016-06-24 17:39] rob3c commented on #41
Thanks for adding this! It looks like you've also addressed issues with URIs and url() that I hadn't originally considered but make perfect sense.

[2016-06-28 17:59] vejersele opened #50 "at-mixin-pattern failing when having arguments that default to a function call or list"
I noticed the at-mixin-pattern rule is failing while there's actually nothing wrong. The problem seems to be related to mixin arguments that default to an empty list or a function call.

[code]

[code]

[2016-06-29 00:28] bjankord opened #51 "Rule idea: variable-colon-space-after"
This rule idea comes from scss-lint's [Space After Variable Colon rule](https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#spaceaftervariablecolon)

From the scss-lint docs:

_Variables should be formatted with a single space separating the colon from the variable's value._

**Bad: no space after colon**
[code]

**Bad: more than one space after colon**
[code]

**Good**

[2016-06-29 00:31] bjankord opened #52 "Rule idea: variable-name-space-after"
This rule idea comes from scss-lint's [Space After Variable Name rule](https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#spaceaftervariablename)

From the scss-lint docs:

_Variables should be formatted with no space between the name and the colon._

**Bad: space before colon**
[code]

**Good**
[code]

[2016-07-01 21:38] hudochenkov commented on #43
We are going to make a plugin for rules content order based on postcss-sorting. https://github.com/stylelint/stylelint/issues/1500#issuecomment-229994733 It will allow to define order of `@extend`, `@include`, declarations, etc.

[2016-07-02 05:00] jeddy3 opened #53 "Rule idea: dollar-variable-empty-line-before"
- Name: `dollar-variable-empty-line-before`
- Primary option: `"always"|"never"`
- Secondary options: `{ "except": ["first-nested", "after-comment", "after-dollar-variable"] }`
- Messages:
  - Rejected: "Unexpected empty line before dollar-variable"
  - Expected: "Expected empty line before dollar-variable"
- Section: "`$`-variable"

Given:

[code]

The following is valid:

[code]

Given:

[code]

[2016-07-04 16:22] dryoma commented on #52
Thanks, definitely a must.

In the meantime, stylelint's [`declaration-colon-space-before`](http://stylelint.io/user-guide/rules/declaration-colon-space-before/) and other `declaration-colon-` rules could help a bit, with variables declared inside rulesets.

[2016-07-04 16:44] #50 closed

[2016-07-04 16:47] jeddy3 commented on #52
It's interesting that `declaration-colon-space-before` only ignores unnested dollar variables at the moment. You could argue that it is should ignore them all, and that it is an oversight that it doesn't already. Either way, I doubt we'll change the behaviour until you guys have:

- `dollar-variable-colon-space-after`
- `dollar-variable-colon-space-before`

Which would check the spaces around doll

[2016-07-04 16:59] dryoma commented on #50
Thanks for reporting! Now it shold be ok.

[2016-07-05 06:34] dryoma commented on #39
Ok, so the new rule is pushed to master (will be released in NPM with 1.3.0). The old one is deleted in `2.0.0/at-mixin-argumentless-call-parentheses` branch.

Closing this for now.

[2016-07-05 06:34] #39 closed

[2016-07-05 06:56] vejersele commented on #50
Awesome! Thanks for the quick response. Will check it out!

[2016-07-05 08:17] dryoma commented on #50
Oops, we need to publish a patch in order for this to take effect. @kristerkari ? ;)

[2016-07-05 08:18] kristerkari commented on #50
@dryoma Yes, thanks for fixing this! I've been a bit busy, but I can release a patch later today.

[2016-07-05 18:19] kristerkari commented on #50
@dryoma I have to change the git history in master a bit to get the patch released without including the newest rule. You'll need to pull the modified history from master branch after I do that.

[2016-07-05 18:36] dryoma commented on #50
Sure, no problem.

[2016-07-08 10:28] evilebottnawi opened #54 "TypeError: Path must be a string. Received undefined"
In rule `partial-no-import` https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/partial-no-import/index.js#L18. If i run
[code]
I have no `root.source.input.file`

[2016-07-08 16:43] dryoma commented on #54
Hmm, I suppose some kind of a warning message is needed for cases like that.

[2016-07-12 09:50] #54 closed

[2016-07-12 10:05] dryoma commented on #54
@evilebottnawi is that an urgent matter? I am asking because publishing patches messes up our git history a bit, and this rule is not designed to work without an *actual* file anyway. I made a commit to prevent it from throwing, yet in a Node API code like the one above the rule won't work. Maybe you could disable it for now?

[2016-07-12 10:09] evilebottnawi commented on #54
@dryoma can, maybe ignore this rule (early return from rules) if file not present?

[2016-07-12 10:12] dryoma commented on #54
Yep, that's what I did (but instead of ignoring there is a stylelint warning message).

[2016-07-13 13:56] evilebottnawi commented on #54
@dryoma we don't have similar rules
/cc @jeddy3 @davidtheclark what do you think guys?

[2016-07-13 14:10] dryoma commented on #43
@hudochenkov would you consider making the plugin part of this plugin set? I'd personally really love to have everything related to SCSS syntax in one place.

[2016-07-13 14:15] hudochenkov commented on #43
I didn't use SCSS, but I use SCSS-like syntax with PostCSS plugins. There is no need to limit stylelint-block-non-properties-order to this plugin set, because it can be used not only with SCSS.

[2016-07-13 14:28] dryoma commented on #43
Well, so do rules from stylelint-scss :) But it was decided to keep the rule plugins under the same roof so that the users wouldn't have to import them one by one. That's why we've been giving the *things* the most universal names possible (`at-function` and `dollar-variable` instead of `scss-function` and `scss-variable`), and even asked the stylelint guys to make [an interface](https://github.co

[2016-07-13 14:48] jeddy3 commented on #54
I think leave it down to the user to resolve this by turning off this rule if they aren't working with files.

[2016-07-14 05:41] dryoma commented on #21
I hate to admit it, but more and more I doubt about this rule. Particularly, after working on `operators-no-unspaced` and figuring out all edge cases of what SCSS considers an operation.

For exapmle,
[code]
Right now both Sass compilers and our [parsing helpers](https://github.com/kristerkari/stylelint-scss/blob/operator-spaces/src/utils/sassValueParser/index.js) consider the secont as a list ind

[2016-07-14 06:15] dryoma opened #57 "Docs page for stylelint rules applicable to SCSS?"
As the list of our rules grow, we'll of course move it to a separate docs page. But what I thought is maybe we shoud also list all the rules from stylelint core that can be used with SCSS syntax (and some other parties plugins)?

E.g.:

* `max-nesting-depth` - can be used to limit the depth of nesting inside the rulesets;
* `at-rule-blacklist` - can be uset to forbid `@extend`, `@mixin` and other

[2016-07-14 07:53] jeddy3 commented on #21
I understand what you mean.

I feel the same way [as David](http://davidtheclark.com/lessons-i-may-have-learned/) about how it might not be worth the effort in trying to work around the complexities of this type of syntax. My suggestion would be focus on the rules that check SCSS-like language extensions that more closely conform to standard CSS syntax. That way this plugin could be part of a shif

[2016-07-14 08:03] jeddy3 commented on #57
Like you said, I see pros and cons for each approach.

You could also argue that *every* stylelint rule and plugin can be used to lint SCSS. I think it'll be a very arbitrary line that divides rules *for SCSS* and rules *for CSS*.

Also, I'm a fan of reducing any documentation burden. Perhaps a non-definitive list of examples of how certain stylelint plugins can help with specific SCSS-like langua

[2016-07-15 22:00] kristerkari commented on #21
That's what I was afraid of. Should we drop this rule @dryoma ?

[2016-07-15 22:11] kristerkari commented on #57
I think that this is a good idea. We could pick a few good examples and have those documented.

[2016-07-16 08:15] dryoma commented on #21
Let's remove it from the milestones list for now. I'll try to give it a thorough thought later again (or maybe someone else comes up with some good suggestion).

[2016-07-21 07:43] isellsoap opened #59 "Update stylelint dependency to latest version"

[2016-07-26 09:51] dryoma commented on #44
Getting down to this at last.

And the question. Do we really want the "always" option here? That would mean this rule will have to enforce nesting properties that... which ones exactly?

1) Definitely not those with a `-` in a name, 'cause `text-align` and stuff. Or no?

[code]

2) Or should we probably create a list of rules that are not allowed in non-nested form? E.g. `[ /^margin-/, /^flex-/,

[2016-07-26 10:50] s10wen commented on #44
@dryoma interesting, regarding `2)` are you thinking of setting defaults, or have the user set them? Also wondering what would be the best approach, blacklist / whitelist, or give the user the option to set them, then in the docs show a suggestion.

[2016-07-26 10:55] kristerkari commented on #44
3) would be the easiest to implement, but yeah 2) could also work as set of whitelisted properties

[2016-07-26 11:06] dryoma commented on #44
If we go with whitelist/blacklist, than no defaults are possible by the nature of stylelint. I was hoping that someone could point at the list of properties that are usually/preferably use nesting in Sass, as Sass itself (according to [Sassmeister](http://www.sassmeister.com/)) does'n seem to give two moos about what is nested:

[code]
[code]

[2016-07-26 11:13] s10wen opened #60 "no-browser-hacks showing $ and !default as errors"
Maybe you can help with this please?
https://github.com/stylelint/stylelint/issues/1710

Regarding:
https://github.com/stylelint/stylelint/blob/master/src/rules/no-browser-hacks/README.md

I'm getting errors for $colour-alpha and !default which is valid Sass code.

Appreciate this is a Sass specific question, but wondering if there's a way to whitelist $ and !default for this rule please?

[2016-07-26 11:22] dryoma commented on #60
I'm afraid we can't help at the moment, as our ruleset has nothing to do with that rule or stylehacks tool that it is using. So for `no-browser-hacks` to support nested rules and stuff like you mentioned, stylehacks itself should be updated.

[2016-07-26 11:30] kristerkari commented on #44
I guess if Sass does not care about what you nest, maybe we should not either -- and just skip option 2.

So we could do 3), or 1) that would have `"always" ` option to enforce nesting for any property that has `-` in the name.

[2016-07-26 11:33] dryoma commented on #44
If we go with 1), then is this:

[code]
acceptable? I.e. nesting just one prop. Maybe this rule must be triggered only if two or more props with the same prefix (`margin-`) are met?

[2016-07-26 11:36] kristerkari commented on #44
or maybe require everything to be nested by default and add  an option `except: first`?

[2016-07-26 11:38] dryoma commented on #59
Done.

[2016-07-26 11:38] #59 closed

[2016-07-26 11:39] dryoma commented on #51
Published with 1.3.0.

[2016-07-26 11:39] #51 closed

[2016-07-26 11:39] dryoma commented on #52
Published with 1.3.0.

[2016-07-26 11:39] #52 closed

[2016-07-26 11:39] dryoma commented on #48
Published with 1.3.0.

[2016-07-26 11:39] #48 closed

[2016-07-26 11:40] dryoma commented on #20
Published with 1.3.0.

[2016-07-26 11:40] #20 closed

[2016-07-26 11:57] dryoma commented on #44
So, with `"always"`:
[code]
with `[ "always", {except: "only-of-namespace"} ]`

[code]
Like so?

Also, how should we name that `except` option? It is "the only property with certain prefix/of certain namespace". `"only-of-namespace"`?

p.s.
[code]
makes me wanna go nuts rignt now :'(

[2016-07-26 13:04] s10wen commented on #60
@ben-eb wondering if you can help with this, or point me in the right direction please?

[2016-07-26 13:36] ben-eb commented on #60
Indeed, stylehacks was designed for working with CSS files. I'd be happy to accept a PR for an optional `scssCompatibility` flag which could handle these exceptions.

[2016-07-26 14:16] s10wen commented on #60
Ah, it wasn't immediately obvious to me that it was using https://github.com/ben-eb/stylehacks I'll have a play, cheers.

[2016-07-26 14:54] s10wen commented on #60
Had a play, here's a solution I've come up with (it's pretty terrible, but works for what I'm after);

`leadingStar.js` => delete `!_$_`
`index.js` => delete the references to `important`

Another solution is to simply run as is, then do a find + delete for the CSS specific results you're not interested in within the results.

@ben-eb thanks for the help, I know the logic for what I'm after (above

[2016-07-26 15:18] dryoma commented on #60
I suppose it'd be better to discuss stylehack's logic in [stylehack's issues](https://github.com/ben-eb/stylehacks/issues) ;)

Closing this.

[2016-07-26 15:18] #60 closed

[2016-07-26 15:50] dryoma opened #62 "Check and update all rules to consider nested props"
Like in
[code]

[2016-07-28 15:41] evilebottnawi opened #64 "TypeError: Cannot read property '1' of null"
[code]

Got this error on:
[code]

and

[code]
Got this error on rules:
- `partial-no-import`
- `double-slash-comment-empty-line-before`
- `double-slash-comment-inline`
- `double-slash-comment-whitespace-inside`
- `operator-no-newline-after`
- `operator-no-newline-before`
- `operator-no-unspaced`

[2016-07-28 16:37] dryoma commented on #64
Wow, thanks.

[2016-07-28 17:09] dryoma commented on #64
Please update to 1.3.1 and see if it is fixed for you.

[2016-07-28 17:17] evilebottnawi commented on #64
@dryoma thanks! I'm going to try now

[2016-07-28 17:34] evilebottnawi commented on #64
@dryoma
The error still occurs:
[code]

[2016-07-28 17:42] evilebottnawi commented on #64
@dryoma
On this:
[code]

[2016-07-28 17:48] evilebottnawi commented on #64
@dryoma maybe best ignore comments between selectors, property values, etc? In `stylelint` we add note to docs about it and wait postcss v6, regexp not good solution for parsing scss, css and etc, i think we will get a lot of issues using reg exp to parse code and it will just be a headache :sob: This is just my opinion.

[2016-07-31 10:24] dryoma commented on #64
First off, sorry for the inconvenience.

The regexes are actually not so much of a problem - I just missed a couple of cases; neede more tests, but 'IT happens. The thing here seems to be [PostCSS itself](https://github.com/postcss/postcss/issues/859); trying to figure out who's on the wrong here.

As for the comments: we *really* need to parse them as in SCSS missing //-comments seems a major fau

[2016-07-31 18:57] dryoma commented on #64
@evilebottnawi please see if the new patch fixed the issue for you.

[2016-08-01 08:54] evilebottnawi opened #65 "false positive `operator-no-unspaced`"
on this scss:
[code]
Output:
[code]

[2016-08-01 09:03] evilebottnawi commented on #64
@dryoma works fine, thanks for fast fixes :smile:

[2016-08-01 09:03] #64 closed

[2016-08-01 13:34] dryoma commented on #62
Possibly won't be needed to implement on the linter's side if [this](https://github.com/postcss/postcss-scss/issues/39) gets resolved.

[2016-08-01 22:44] daltones opened #66 "false positive on `double-slash-comment-whitespace-inside`"
[code]
raises:
[code]

`double-slash-comment-whitespace-inside` thinks every `//` is a comment, even if it is inside a string.

(stylelint: 7.0.3 — stylelint-scss: 1.3.3)

[2016-08-03 07:18] #65 closed

[2016-08-03 07:18] #66 closed

[2016-08-03 07:19] dryoma commented on #66
Thanks for reporting, please try 1.3.4.

[2016-08-03 07:20] dryoma commented on #65
Thanks again for reporging, please try 1.3.4.

[2016-08-03 18:04] jrencz opened #67 "Rule idea: at-(extend/include)-empty-line-(before/after)"
One may want to visually separate includes, properties (or nestings) and extends (in whatever order they come in, relates to #43)

I suggest a rule which will allow enforcing a single new line before extend, let's call it `at-extend-empty-line-before`:

[code]

There might be an additional option to disallow new line inside group of `@extend`s:
[code]

I just don't have an idea how to call it. I b

[2016-08-03 18:37] jeddy3 commented on #67
@jrencz Thanks for the detailed write-up. I'm not don't contribute to `postcss-scss`, but I do contribute to `stylelint` itself. Perhaps I can help here.

I think what you're after can already be achieved using stylelint's core [`at-rule-empty-line-before`](http://stylelint.io/user-guide/rules/at-rule-empty-line-before/) rule.

With the following config:

[code]

The following is good:

[code]

Bu

[2016-08-11 11:57] dryoma opened #68 "Rule idea: operation-no-unit-adding"
Inspired by http://sass-guidelin.es/#units

[code]

Again, not sure if it's going to work out.

[2016-08-19 10:34] evilebottnawi opened #69 "false positive `partial-no-import`"
Example
[code]

[2016-08-19 10:58] dryoma commented on #69
What is the name of the file that has those `@import`s?

[2016-08-19 11:17] evilebottnawi commented on #69
@dryoma `_variables.scss`

[2016-08-19 12:45] dryoma commented on #69
Well, that's no false positive. What this rule prohibits is not importing some partials (that would be strange), but using imports *inside partials*.

[2016-08-19 12:49] evilebottnawi commented on #69
@dryoma i think it is false positive, because if i remove `_` from `_bootstrap` name directory, rule works fine.

[2016-08-22 10:16] evilebottnawi opened #70 "Remove src folder from npm package"
We plan to do the same https://github.com/stylelint/stylelint/pull/1825

[2016-08-22 22:09] kristerkari commented on #70
Makes sense :) 👍

[2016-08-24 14:29] dryoma commented on #69
Sorry, couldn't look into this for a while.

So I tested these scenarios:

file: `_file.scss`, code:
[code]
2 warnings, 'cause `_file.scss` is a partial and filenames from `@improt`s don't matter.

file: `_file.scss`, code:
[code]
2 warnings, 'cause `_file.scss` is a partial and filenames from `@improt`s don't matter.

file: `dir/_file.scss`, code:
[code]
2 warnings, 'cause `dir/_file.scss` is a p

[2016-08-24 15:31] evilebottnawi commented on #69
@dryoma yes, you are right, inattentively I read the rule and expect another behavior :sob:

[2016-08-24 15:31] #69 closed

[2016-08-24 16:32] dryoma commented on #69
I see :) BTW if you want to control the names of imported files, you might want to check out at-import-[`no-partial-leading-underscore`](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/at-import-no-partial-leading-underscore/README.md), [`at-import-partial-extension-blacklist`](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/at-import-partial-extension-black

[2016-08-25 08:38] evilebottnawi commented on #69
@dryoma thanks :smile:

[2016-08-30 18:54] #70 closed

[2016-08-31 06:55] dryoma opened #74 "Use a fork of postcss-scss as dependency?"
The situation so far: PostCSS (with or without postcss-scss plugin) incorrectly parses [Sass nested properties](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#nested_properties). Right now `margin: 0 { left:10px; }` becomes
[code]
So to tell such nested groups from real rules we have to apply additional checks, i.e. [hacks like this](https://github.com/kristerkari/stylelint-scss/blob/

[2016-08-31 07:39] dryoma commented on #74
Cases in our code that will (presumably) benefit from a **fork** (i.e. additional checks won't be required):
* `dollar-variable-no-missing interpolation`:  [here](https://github.com/kristerkari/stylelint-scss/blob/366977a6367d0cfb5ce949c18d564689d60a029d/src/rules/dollar-variable-no-missing-interpolation/index.js#L120) nested groups namespace prop value (`margin: $var { ... }`) is missed
* `operat

[2016-09-07 08:30] dryoma commented on #67
@jrencz does the configs from @jeddy3's post suit your need (i.e. can we close this)?

[2016-09-07 16:40] jrencz commented on #67
Ah, I forgot to check then and right now I'm not able to check quickly. But conceptually it should work. If I check and I won't be able to achieve what I want I'll reopen this one or file a new one

[2016-09-07 16:40] #67 closed

[2016-09-13 20:27] traviskaufman opened #76 "[Feature Request] Option to only enforce dollar-variable-pattern at top-level scope"
We use SCSS-lint on [material design lite](https://github.com/google/material-design-lite/tree/master) and really like it. We use `scss/dollar-variable-pattern` to enforce consistency within our top-level sass API.

However, within functions, blocks, and mixins, we want to turn off that pattern, e.g.

[code]

We've had to do this in a lot of places, and it would be great if there was an option tha

[2016-09-14 14:21] dryoma commented on #76
Hi @traviskaufman, great to hear you make use of this plugin set. Sure, you can make a PR with this feature (or I will look into it a bit later). This rule is quite simple in implementation.

Following stylelint's naming conventions, it could be an option like

[code]
(if I get it right, ignoring local variables is what you want - and then there really no reason to not allow for a reverse option v

[2016-09-19 17:37] kristerkari commented on #76
Looking at the example, I think that adding this option makes a lot of sense. 👍

[2016-09-20 14:45] traviskaufman commented on #76
Awesome! Feel free to assign it to me and I'll tackle it this week.

[2016-09-21 09:35] evilebottnawi commented on #74
@dryoma maybe create issue in `postcss-scss`, it would be better then create fork?

[2016-09-21 11:27] dryoma commented on #74
@evilebottnawi I have already done so, and even made a PR. Long story short - it became even worse.

[2016-09-21 11:42] evilebottnawi commented on #74
@dryoma can you give the link to issue? We definitely need to solve the problem correctly :+1:

[2016-09-21 12:38] dryoma commented on #74
The [discussion](https://github.com/postcss/postcss-scss/issues/39), the [PR](https://github.com/postcss/postcss-scss/pull/40).

[2016-09-21 13:47] evilebottnawi commented on #74
@dryoma hm
`a { margin: 0 { left:10px; } }`
For `margin`:
[code]
i see `isNested`, what about create util or repo `resolveNestedProperties` and put logic there.
I misunderstood what you wish to receive from `postcss-scss`. About interpolation in `Additional` - i think it is bug and should be fixed in `postcss-scss`. In my opinion it has nothing related with `nested properties`.

[2016-09-21 15:59] dryoma commented on #74
@evilebottnawi I describe the problem in [this comment](https://github.com/postcss/postcss-scss/issues/39#issuecomment-243105041): `a { margin: 0 { left:10px; } }` is a Declaration, `a { margin: { left:10px; } }` is a Rule (seems I mistyped it in the first message).

There is already [one](https://github.com/kristerkari/stylelint-scss/blob/master/src/utils/parseNestedPropRoot.js), the question is

[2016-09-24 02:02] ntwb commented on #57
Another use case, the following stylelint config contains two configurations, the second of these is a SCSS config that extends the initial configuration:

https://github.com/niksy/stylelint-config-niksy/blob/master/index.js
[code]

Then in this SCSS config, the above rule is extended to add the SCSS at rules:
https://github.com/niksy/stylelint-config-niksy/blob/master/scss.js
[code]

[2016-10-01 22:32] hudochenkov commented on #43
I made a plugin for checking these things https://github.com/hudochenkov/stylelint-declaration-block-order

For example config to specify this order: variables, extends, includes, declarations, includes with content (e. g., mixins for media queries), nested at-rules (e. g. `@media`), nested rules:

[code]

[2016-11-01 00:09] branpar opened #80 "Rule Idea: code instead of variable/mixin use"
I have a tough but helpful rule(s) to add. They're similar but should be split into two rules.

**Rule 1:**
Let's say I have a variable `$color-gray90: #111;` . Then, in my code I see `color: #111;` I would want a rule to check for this and alert that we should be using the variable instead of the declaration.

**Rule 2:**
Similar but perhaps more important, let's say I have defined a mixin:

[cod

[2016-11-01 05:59] dryoma commented on #80
Hi @branpar thanks for you suggestions.

1) For this we already have a proposal, even two: #4 and #13. Still to be implemented though.
2) A valid point either, should give it a thought. Meanwhile, you could utilize stylelint's [`property-blacklist`](http://stylelint.io/user-guide/rules/property-blacklist/) and/or [`declaration-property-value-blacklist`](http://stylelint.io/user-guide/rules/declara

[2016-11-01 13:13] branpar commented on #80
I can see the idea you're driving towards with the blacklists. The problem is that if you have many mixins you have to have a substantial blacklist, and the mixins themselves will violate the rules which means then you have to add in exception comments. Additionally each time someone adds a mixin you have to add to the blacklist as well. This doesn't seem like a realistic workflow on a large team,

[2016-11-06 16:24] dryoma commented on #80
I see. Though there are other issues with such approach.

The main issue I see is that stylelint parses only one file at a time, thus the linter would warn only on the properties that are used in mixins inside the same file. I.e. if that `@mixn opacity` is in `_mixins.scss`, the linter won't give a warning on an a declaration with `opacity` in, say, `_header.scss` unless it has a similar (or the s

[2016-11-06 21:30] branpar commented on #80
Good and valid points. Assuming that users organize their mixins in a _mixin.scss file perhaps the rule could take in an array of files that contain mixins so that it could pre-parse those? Variables could have a similar solution but I suspect variables are more widespread among files. But in order to fix that there would have to be some sort of discovery pre-parsing to determine things like mixin

[2016-11-07 06:02] ntwb opened #81 "`selector-no-redundant-nesting-selector` issue"
[In the docs](https://github.com/kristerkari/stylelint-scss/tree/master/src/rules/selector-no-redundant-nesting-selector#selector-no-redundant-nesting-selector) for the `selector-no-redundant-nesting-selector` rule the very last example **not** considered a warning:

[code]

In the tests [this is expected to be rejected](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/selector-

[2016-11-07 06:38] ntwb opened #82 "New rule: same line or newline for `@else` statements"
via https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#elseplacement

newline:
[code]

same line:
[code]

[2016-11-07 07:51] dryoma commented on #80
In terms of variables it's both simpler and more complex, actually. The simpler part is that we have to *just* find where a certain type of a value is and if it's not a variable. The complex part is that *just*: the parsing.

As for mixins,

Considering such pre-parsing would have to be done for *every file* that needs to be linted, the more files there are the longer it will get. @kristerkari wha

[2016-11-07 07:53] dryoma commented on #82
Wow, we still don't have it :) Thanks.

[2016-11-07 08:01] #81 closed

[2016-11-07 08:01] dryoma commented on #81
It's the docs, thanks for reporting!

[2016-11-08 17:10] kristerkari commented on #82
Yeah, definitely should have this.

[2016-11-08 17:25] kristerkari commented on #80
I have a feeling that implementing the rule might be quite tricky. Matching the mixing code 1-1 with the code inside the file only works properly if you don't use variables or do math inside the mixing, so the [@mixin example in the description](https://github.com/kristerkari/stylelint-scss/issues/80#issue-186433758) would not really work.

Doing pre-parsing sounds fragile too. We would have to po

[2016-11-08 17:33] kristerkari commented on #62
@dryoma What's the status of this? Should we go ahead and check for nested props inside the rules?

I guess we still haven't decided about the forking of `postcss-scss`:
https://github.com/kristerkari/stylelint-scss/issues/74

We could maybe postpone this issue and release 1.4.0 as we have had some things pending for a while:
https://github.com/kristerkari/stylelint-scss/blob/master/CHANGELOG.md#h

[2016-11-09 06:38] dryoma commented on #62
Sorry, I decided to not proceeding with this until we decide on postcss-scss.

So yes, totally fine with me to release with the current progress.

[2016-11-17 02:33] branpar commented on #80
I've been thinking about how we might be able to improve this without the performance hit and I came up with an idea. Multiple new rules (specific for variables) under the `$-variable` category.  I'm thinking something like:

[code]

As an example `dollar-variable-after-color` would check for the property `color `and enforce that only a variable is required there. This way it doesn't check to see

[2016-11-19 00:27] mahirshah opened #83 "Rule Idea: Require Nesting For Pseudo Classes/Elements"
Requires the use nesting with `&` for all pseudo classes and pseudo element selectors.

Invalid:
`
.a:hover { ... }
`

`
.a::after { ... }
`

Valid:
`
.a {
  &:hover { ... }
}
`

`
.a {
  &::after { ... }
}
`

[2016-11-21 09:51] dryoma commented on #82
Hmm, seems this rule won't be that easy.

Firstly, to be able to control `@else` placement at all, a user would need to set up ignore options for [`block-closing-brace-newline-after`](http://stylelint.io/user-guide/rules/block-closing-brace-newline-after/) like so: `ignoreAtRules: ["if", "else"]`. I would allow this rule to take effect, but would lead to:

[code]
(notice the `a { display: block; }

[2016-11-21 10:14] dryoma commented on #82
Hmm, seems this rule won't be that easy.

Firstly, to be able to control `@else` placement at all, a user would need to set up ignore options for [`block-closing-brace-newline-after`](http://stylelint.io/user-guide/rules/block-closing-brace-newline-after/) like so: `ignoreAtRules: ["if", "else"]`. I would allow this rule to take effect, but would lead to:

[code]
(notice the `a { display: block; }

[2016-11-21 21:46] jeddy3 commented on #43
Thanks to @hudochenkov, this can now be done with [stylelint-order](https://github.com/hudochenkov/stylelint-order). stylelint-order is also the home of the rules that supersede the `declaration-block-properties-order` rule from stylelint, which will be deprecated in `stylelint@8.0.0`.

I think this issue can be closed now.

[2016-11-21 21:49] jeddy3 commented on #53
FYI, for someone wanting to implement this, a very similar rule, but for custom properties, can be found [here](https://github.com/stylelint/stylelint/tree/master/src/rules/custom-property-empty-line-before).

[2016-11-23 08:39] dryoma commented on #53
Added in #85 (at last :) )

[2016-11-23 09:53] dryoma commented on #43
TODO: add a note to the docs.

[2016-11-23 16:48] neverfox opened #86 "at-rule-no-unknown errors"
I get at-rule-no-unknown errors for things like @extend, @mixin etc. with this plugin installed. I could be mistaken, but I assumed this plugin would cover those cases, but right now I have to use a custom ignore rule:

[code]

[2016-11-24 05:44] dryoma commented on #86
The list of *known* rules is defined in [stylelint's code](https://github.com/stylelint/stylelint/blob/master/src/reference/keywordSets.js#L487). This project loads stylelint as a dependency, thus we can use its code in our code, but can not alter the rules from a standalone stylelint users define in their configs. ... or can we @davidtheclark ? Is it possible to give a plugin set the ability to r

[2016-11-24 06:10] dryoma commented on #82
Yeah, so basically if a user needs standard behavior for if/else, they'll just stick to the core stylelint rules, otherwise theys specify them as ignored in `at-rule-empty-line-before` and `block-closing-brace-newline-after` and use our custom rules.

Ok then, let's rock. Thanks for the advice @jeddy3

[2016-11-24 06:34] #76 closed

[2016-11-24 08:59] #44 closed

[2016-11-28 15:05] #53 closed

[2016-11-30 00:27] eriklharper commented on #86
@neverfox I'm in the same boat, but what I realized is that because `stylelint-scss` is a stylelint `plugin`, it doesn't automatically enable any rule for you because [that's how plugins work](http://stylelint.io/user-guide/configuration/#plugins).

What we _really_ need to make the linter "scss aware" is a scss lint config that we can tell stylelint to `extend` instead, the same way you're extend

[2016-11-30 00:45] eriklharper commented on #86
Here we go, there actually is one: https://github.com/bjankord/stylelint-config-sass-guidelines/blob/master/index.js.  See how he's using `stylelint-scss` as a plugin and then implementing `rules` on top of that plugin to make it scss aware.

[2016-11-30 02:00] neverfox commented on #86
@eriklharper Cool. Makes sense. Thanks for doing the leg work.

[2016-12-04 22:47] davidtheclark commented on #86
Another possibility would be to write a new rule for `stylelint-scss` that *wraps* `at-rule-no-unknown` but automatically ignores Sass's special at-rules. Something like this:

[code]

This solution means your rule is easy to maintain, without duplicating code and at-rule lists in stylelint.

This ability to manually invoke stylelint rules *within plugin rules* opens a lot of doors!

[2016-12-05 07:35] dustinhorton opened #90 "Undefined rule scss/declaration-nested-properties"
Thanks for this project.

I'm using `stylelint@7.6.0` & `stylelint-scss@1.3.4`. When I enable [declaration-nested-properties](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/declaration-nested-properties/README.md), via:

[code]

I get an error about it being undefined:

[code]

Let me know if I can provide any more info.

[2016-12-05 07:41] dustinhorton commented on #90
Ah, coming next release it would seem: https://github.com/kristerkari/stylelint-scss/blob/9100028152dc6ce7066c18ec104ebaca45268fac/CHANGELOG.md#head

[2016-12-05 07:41] #90 closed

[2016-12-05 10:24] dryoma commented on #86
@davidtheclark awesome! Will give it a shot a bit later.

[2016-12-06 00:14] ntwb opened #91 "Default SCSS shared config"
Mentioned over here https://github.com/airbnb/css/pull/23#issuecomment-264995280 is a set of [default rules](https://github.com/brigade/scss-lint/blob/master/config/default.yml) enabled by `scss-lint`.

So I was thinking we should have a _default_ shared config for stylelint scss rules that can be extended, there are probably two approaches that could be taken:

1. `stylelint-config-scss` or `styl

[2016-12-06 00:33] kristerkari commented on #91
Sounds good, but which rules should be enabled by default? I had a quick look, and it seems that many rules in `scss-lint`s default config can be implemented just by using `stylelint`.

To me option 1. makes more sense, but option 2. might be better for users so that they don't need to include multiple standard configs in their project.

/CC @dryoma

[2016-12-06 10:17] dryoma commented on #91
`stylelint-config-standard` - we have a number of rules that somewhat conflict with stylelint's rules (like the `@if`/`@else` and the [upcoming](https://github.com/kristerkari/stylelint-scss/issues/86#issuecomment-264737962) `scss/at-rule-no-unknown`. So I think editing the default styleling config won't work that good. I too was thinking about such default config, with certain stylelint rules alr

[2016-12-06 12:10] jeddy3 commented on #91
I realise it's semantics but, like we do with `stylelint-config-standard`, I suggest not referring to as _default_, but rather as a _recommended_ config. I also suggest keeping your standard/recommended config outside of this repo. Deciding what rules go into a config is _very_ contentious and keeping those discussions outside the rule repo has helped keep stylelint manageable. It also simplifies

[2016-12-06 12:23] jeddy3 commented on #86
@dryoma FYI, this is documented in [this section](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md#stylelintrules) of the developer guide. It's also worth keeping an eye on https://github.com/stylelint/stylelint/pull/2173 in case it impacts on how wrapping rules might work going forward.

[2016-12-06 14:58] dryoma commented on #91
Absolutely.

Agreed, I too think that would be the best.

[2016-12-12 08:57] dryoma commented on #82
Will be published with the next minor.

[2016-12-12 08:57] #82 closed

[2016-12-12 11:00] AndyOGo commented on #13
@dryoma @jeddy3
Please check also https://github.com/AndyOGo/stylelint-declaration-strict-value

I think this is not a SCSS-only feature, it should be supported for any Syntax like `$foo`, `@foo` (less), and `--foo`, `var(--foo)` (cssnext).
Then there are more complex uses case for functions or CSS keywords like `currentColor`.

[2016-12-12 12:01] evilebottnawi opened #93 "Strange errors in new version"
Config:
[code]
Try to run and got
[code]
Nowhere rules are not overridden

[2016-12-12 12:19] evilebottnawi opened #94 "Add option `between-group` to `scss/dollar-variable-empty-line-before`"
Maybe best name. I love this rule, But sometimes i am use newlines between groups example:
[code]
For a better reading, it would be convenient to have an option that disables checking between variables.

[2016-12-12 12:32] evilebottnawi opened #95 "false positive parent selector in `declaration-nested-properties` and `declaration-nested-properties-no-divided-groups` rule"
Example
[code]

Code
[code]
Errors:
[code]

[2016-12-12 17:07] #93 closed

[2016-12-12 17:07] #95 closed

[2016-12-12 17:07] dryoma commented on #93
Fixed in 1.4.1, thanks for reporting!

[2016-12-12 17:07] dryoma commented on #95
Fixed in 1.4.1.

[2016-12-12 17:09] dryoma commented on #90
@dustinhorton  The rules are now available in 1.4.1. Took us quite long :(

[2016-12-12 17:09] dryoma commented on #76
@traviskaufman The feature is available since 1.4.1

[2016-12-12 17:10] dryoma commented on #82
Available in 1.4.1

[2016-12-12 17:10] dryoma commented on #53
Available in 1.4.1

[2016-12-12 17:11] dryoma commented on #44
@s10wen the rules are available in 1.4.1 (at last)

[2016-12-12 17:14] dryoma commented on #94
Hmm, that's acrually reasonable, but could be quite subjective. Should it only check dash-delimited letter groups? What if someone prefers camelCase/PascalCase for their variables?

[2016-12-12 17:27] evilebottnawi commented on #94
@dryoma i think we can check only if before i am using variable
[code]
It does not matter how the variable is written - camelCase, PascalCase :smile: But maybe add `after-dollar-variable` in `ignore` is also a solution, the most important thing that I want a blank line before the variables, and between variables (groups as in example).

[2016-12-12 18:41] traviskaufman commented on #76
Awesome!
On Mon, Dec 12, 2016 at 12:09 dryoma <notifications@github.com> wrote:

[2016-12-13 07:09] s10wen commented on #44
@dryoma niiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiice and <3 the example at https://github.com/kristerkari/stylelint-scss/issues/44#issuecomment-235237158 the force must be strong with you 👍

[2017-01-06 22:05] kswilster opened #97 "Rule Idea: selector-no-descendant-selector"
This is a new rule for preventing the use of descendant selectors. We want to completely eliminate the use of descendant selectors in our CSS, and the use of other PostCSS features makes them unnecessary.
Inspired by [Firefox UI Guidelines](https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Writing_efficient_CSS#Avoid_the_descendant_selector.21).

[code]

[2017-01-06 23:06] jeddy3 commented on #97
@kswilster I think stylelint's [`selector-max-compound-selectors`](http://stylelint.io/user-guide/rules/selector-max-compound-selectors/) rule is what you're after.

The rule resolves nested selectors and so the following config:

[code]

Will warn for both:

[code]

[2017-01-08 10:07] thealjey commented on #91
@kristerkari
any idea on when to expect this awesome "recommended" config to be created?
I want to switch to stylelint because it looks very promising (haven't actually tried it yet 😊 ), but I don't want to spend time figuring out any of its rules 😺
thanks

[2017-01-08 10:13] dryoma commented on #97
Yup, the idea behind that rule is almost exactly that.

[2017-02-02 15:00] adamj88 opened #98 "Rule Idea: nested properties brace empty line before/after"
In Stylelint you're able to declare opening/closing braces to have new lines before and after using `block-closing-brace-empty-line-before` and `block-closing-brace-newline-after`.

However there is no rule for setting this for nested properties. In the below example I'd like new lines before & after the selector braces, but not around the nested property.

[code]

[2017-02-03 00:13] jesstelford commented on #91
There already exists [`stylelint-config-sass-guidelines`](https://github.com/bjankord/stylelint-config-sass-guidelines) which is fairly close to the `scss-lint` defaults (but doesn't cover everything due to some divergence, and some non-existent equivalents).

[2017-02-11 22:06] thasmo opened #100 "Add `first-line` except-option for `double-slash-comment-empty-line-before`"
Using
[code]
still gives errors if the comment is on line 1 of a file.

It would be nice to have an `exclude` or `ignore` option for this.

[2017-02-11 22:09] thasmo commented on #100
Using stylelint's option `comment-empty-line-before` does not have this problem and is just working when using
[code]

[2017-02-12 19:53] thasmo commented on #100
The error gets actually thrown by `"scss/double-slash-comment-inline": "never"`.

[2017-02-14 08:21] dryoma commented on #100
Could you please provide a code sample that the settings above give warnings for, as well as the warnings themselves?

[2017-02-14 08:22] dryoma commented on #98
Makes sense, will look into it.

[2017-02-14 09:01] thasmo commented on #100
Rule:
[code]

Error:
[code]

Code:
[code]

[2017-02-14 09:02] thasmo commented on #100
The rule `double-slash-comment-empty-line-before` doesn't influence this actually, I found.

[2017-02-15 20:31] LoChanHi5 commented on #100
I also have the same issue that @thasmo described in https://github.com/kristerkari/stylelint-scss/issues/100#issuecomment-279647041 but only for comments that appear in the _first_ line of the file.

[2017-02-16 12:21] niklaushug opened #101 "error if CSS @media is not followed by a space"
Stylelint errors out if CSS's @media and condition is not separate by a space and some rules are active.

`$ node node_modules/stylelint/bin/stylelint.js "tescht/**/*.scss"`
TypeError: Cannot read property '1' of null
    at findCommentsInRaws (/Users/tocco/Projects/tocco-client/node_modules/stylelint-scss/dist/utils/findCommentsInRaws.js:91:124)
    at calculationOperatorSpaceChecker (/Users/tocc

[2017-02-19 08:05] dryoma commented on #97
Hi @kswilster

Is the `selector-max-compound-selectors` mentioned above suit your needs, or is there still elements you would like implemented (regarding the initial proposal)?

[2017-02-19 08:09] #100 closed

[2017-02-19 08:09] #101 closed

[2017-02-19 08:28] dryoma commented on #101
Hi @niklaushug

Thanks for noticing and reporting this, fixed in 1.4.2

[2017-02-19 08:28] dryoma commented on #100
Fixed in 1.4.2 .Thanks for reporting!

[2017-02-20 03:43] kswilster commented on #97
the `selector-max-compound-selectors` works out perfectly for me, thanks!

[2017-02-20 03:43] #97 closed

[2017-02-21 09:14] s10wen opened #102 "Blacklist mixin or any string?"
Wondering if it's possible to blacklist mixins or any string?

For example, an `@include debug-map` might be useful for debugging, but I want to make sure it doesn't make it into production.

[2017-02-21 16:30] dryoma commented on #102
A couple of months ago we addressed that same idea with a rule for stylelint: https://stylelint.io/user-guide/rules/at-rule-blacklist/ :)

[2017-02-27 18:51] evilebottnawi opened #103 "Rule idea: `dollar-variable-place`"
Allow and disallow inside block or out side
- `dollar-variable-place: "outside-declaration-block"`

Valid:
[code]
Invalid:
[code]
- `dollar-variable-place: "inside-declaration-block"`

Invalid:
[code]
Valid:
[code]
Maybe best name for rule and options. I can do PR.

[2017-02-27 21:27] jeddy3 commented on #103
Thanks for the suggestion. I think this would make a good plugin candidate.

Perhaps within the `stylelint-scss` plugin pack. Quoting from their `README.md`:

[2017-02-27 21:32] jeddy3 commented on #103
I think what you're trying to do is _disallow_ something. The stylelint [convention for that](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/about-rules.md#no-rules) is to use a `no` rule. Perhaps `no-dollar-variable` would work here, along with two `ignore` options: `nested` and `non-nested`.

e.g. `no-dollar-variable: [true, { "ignore: ["nested"] }]`.

This would be consisten

[2017-02-27 23:39] evilebottnawi commented on #103
@jeddy3 sgtm to me, let's start `no-dollar-variable: [true, { "ignore: ["inside-block"] }]`?

[2017-02-28 14:32] jeddy3 commented on #103
`inside-block` is how we consistently label it in stylelint core, but if "global"/"local" is idomatic to scss then they're likely more fitting names for in this plugin pack.

[2017-02-28 17:06] evilebottnawi commented on #103
@dryoma @jeddy3 final decision?

[2017-02-28 17:20] jeddy3 commented on #103
It's up to @dryoma. Just thought I'd chime in with how stylelint does it in core in case the info was helpful :)

[2017-03-02 14:02] Daweo93 opened #104 "Using style lint with .sass files"
Hello,
Is there any way to use stylelint for lint .sass files?
It's works for .scss files fine but I use .sass files.

[2017-03-02 15:10] dryoma commented on #104
Hi @Daweo93

If you mean Sass syntax, then I'm afraid no, stylelint and this plugin set can't be used with it. You'd have to stick to https://github.com/sasstools/sass-lint or look for some other tool.

[2017-03-02 15:12] dryoma commented on #103
@kristerkari what do you think?

"global"/"local"
+ more semantic
- two rules instead of one (is it a con?)

"inside-block"
+ allows to go with just one rule
+ consistent with future rules for other constructs (if any)

[2017-03-02 15:17] evilebottnawi commented on #103
@dryoma also be good allow some variable, example be good allow `$parent: &;` (`ignoreVariables: []`). It is normal using inside declaration block.

[2017-03-02 15:20] kristerkari commented on #103
@dryoma oh, that's a tough one. I think that `global/local` makes more sense, but then we'd have 2 rules instead of one (does that make things more complicated for the user or not?).

[2017-03-02 15:23] kristerkari commented on #103
@dryoma but also I think that there is a benefit in following the naming conventions from Stylelint. It might be easier for the users not having to switch between different naming conventions when using Stylelint plugins.

[2017-03-02 15:30] kristerkari commented on #104
Thanks for the question @Daweo93

I think there is no `Sass` syntax parser for PostCSS (which is used by Stylelint). This project is only for linting Sass' `Scss` syntax, and that's also why the name is `stylelint-scss`.

[2017-03-03 10:51] Traverse opened #105 "Rule addition: "dollar-variable-empty-line-before" ignore: "after-dollar-variable""
Would like to see this addition because sometimes I'd like to group variables which currently isn't possible with the available options.

[2017-03-06 10:07] dryoma commented on #103
Thought so too, but not sure. And the question is how many such entities (to allow/disallow in a scopre) we'd need? I mean, all these extends and mixin calls/declarations are probably better off in stylelint as a rule for at-rules + specific/ignored names. What remains for us are $-variables, %-placeholders maybe. & doesn't make sense globally.

And then I just had a thought: _do_ we need the 2 ru

[2017-03-06 10:10] dryoma commented on #105
Hi @Traverse

A legit suggestion. Just to clarify: do you think the #94 's  `between-groups`, if/when implemented, work for your case?

[2017-03-06 10:20] kristerkari commented on #103
True, I think that this is the best of the options we have.

[2017-03-06 12:23] Traverse commented on #105
I think it should work for my case, it mostly depends on how it checks if something is a group or not because sometimes you might want to group variables even if they don't have a prefix that is similar etc.

Might be that my option is simpler / enough in most cases.

[2017-03-13 08:45] s10wen commented on #102
@dryoma thanks, I tried it, but it didn't seem to work:

[code]

Does that look right?

[2017-03-13 10:20] dryoma commented on #102
It should work unless you keep those single quotes wrapping the array ;)

[2017-03-13 15:34] LukaszPrzybysz opened #106 "at-mixin-argumentless-call-parentheses rule is showing up severity: "ignore""
Hey,
I have seen that such a bug was already resolved in version 1.1.0 but it still occurs in at-mixin-argumentless-call-parentheses rule.

[2017-03-13 15:49] dryoma commented on #106
Hi @LukaszPrzybysz

Could you please describe the issue in a more detail? What is the stylelint config, stylelint/stylelint-scss/node versions, your code. What exactly happened (your actions and the error message), and what was expected.

[2017-03-13 15:51] LukaszPrzybysz commented on #106
I have actually found a bug, there is incorrect ruleName set in:
`src/rules/at-mixin-argumentless-call-parentheses/index.js`

[2017-03-19 21:17] jeddy3 commented on #104
@Daweo93 Another alternative is to migrate from SASS to [SugarSS](https://github.com/postcss/sugarss), which is an _indent-based_ syntax similar to SASS.

stylelint is compatible with SugarSS.

[2017-03-19 21:35] jeddy3 commented on #103
`local/global` does make sense as that is the terminology used in the [SASS reference](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variables_).

Just to reiterate, idiomatically in stylelint `no` rules are most restrictive _by default_ and can be _made more permissive using `"ignore": []`_ options.

So, I'd recommend _a single_ `no-dollar-variable` rule with `true` as the primary o

[2017-03-19 23:13] jeddy3 commented on #105
In `stylelint@7.8.0` [we standardised](https://github.com/stylelint/stylelint/issues/1663#issue-165965730) the options of the `*-empty-line-before` rules to use `after-*`. As such, I think adding an `"ignore": ["after-dollar-variable"]` option would be the idiomatic solution to this issue.

[2017-03-19 23:33] jeddy3 commented on #102
@s10wen Hopefully the existing `at-rule-blacklist` rule covers your use case. However, if you're trying to disallow _specific params_ for particular at-rules e.g. generally allow the use of `@include`, but specifically disallow `@include debug-map`, then that's not currently possible.

However, you could [write a `at-rule-name-param-blacklist` plugin](https://github.com/stylelint/stylelint/blob/ma

[2017-03-20 12:38] kristerkari commented on #103
Thanks for clarifying @jeddy3. I agree that that is what the configuration options should look like.

[2017-03-20 12:49] kristerkari commented on #104
@jeddy3 I noticed this tweet. Will stylelint support sass-syntax too?
https://twitter.com/PostCSS/status/842110688118095873

[2017-03-20 13:35] jeddy3 commented on #104
I just saw that too! Interesting stuff.

I not sure if it'll have _first-class_ support (i.e. we bundle the parser in stylelint). However, [we provide](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/cli.md) a `--custom-syntax` option that you can use to try out sass-syntax now:

So:

[code]

I've not tried it myself.

[2017-03-21 12:12] s10wen commented on #102
@jeddy3 thanks for the reply, currently on with other things, but hopefully I'll pick this up at some point.

[2017-03-23 16:58] rvock opened #107 "at-if-closing-brace-newline-after only checks for else and not elseif"
If you use the `at-if-closing-brace-newline-after` rule with `always-last-in-chain` the following code generates an error:
[code]

The happens because elseif is not checked. Although not documented in the [sass-documentation](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#_8) `@elseif` is supported in scss.

The code to update is here:
https://github.com/kristerkari/stylelint-scss/blo

[2017-03-31 05:04] #106 closed

[2017-04-06 12:04] jmbelloteau opened #109 "function error"
I'm having issue with **stylelint-scss** and plugin on a SCSS function.
A space is asked where it shouldn't.

[code]
The error disappear when I remove the space between **length** and **($breakpoints)**:

[code]

[code]

"stylelint": "^7.9.0"
"stylelint-scss": "^1.4.3"

With stylelint-webpack-plugin.

I need to know how to disable the concerned rule or even better create an exception for this case

[2017-04-07 06:52] dryoma commented on #109
Hi @jmbelloteau

The answer to that and a hint for us where to look would be you posting the exact error message ;)

[2017-04-09 13:16] kristerkari commented on #107
Sorry for the late answer, but I have been busy.

I added a fix for this, you can check out the Pull request that should fix this issue:
https://github.com/kristerkari/stylelint-scss/pull/110

[2017-04-09 13:21] kristerkari commented on #109
@jmbelloteau This is most likely a rule that is defined in `stylelint-config-standard`, so you should have a look at the readme for that plugin.

[2017-04-09 13:21] #109 closed

[2017-04-10 13:49] #107 closed

[2017-04-12 15:38] epmatsw opened #112 "selector-no-redundant-nesting-selector Doesn't Error On Multi-part Selectors"
[code]

An error is correctly reported on the `& .b` line, but no error is reported on the `& .c` line. Seems like all of the pieces of the selector need to be examined by this rule.

[2017-04-21 08:12] ntwb commented on #104
FYI: PostCSS now has a Sass parser [postcss-sass](https://github.com/AleshaOleg/postcss-sass)

See also: https://github.com/stylelint/stylelint/issues/2486

[2017-04-21 08:20] ntwb opened #115 "Update if/else rule docs for upcoming stylelint v8 deprecations"
The `rule-non-nested-empty-line-before` rule is deprecated in stylelint v8

It has been replaced with the `rule-empty-line-before` rule

See https://github.com/stylelint/stylelint/pull/2309

[2017-04-21 11:14] #115 closed

[2017-04-26 02:21] awebdeveloper opened #117 "why not merge with styleLint"
Why dont these rules be added to stylelint itself

[2017-04-26 05:50] dryoma commented on #117
'Cause they are specific to custom syntaxes and don't actually relate to vanilla CSS. Usually, if we come up with an idea here and that idea suits stylelint core, it goes there (like at-rule-blacklist, etc.). But for most things it not like that.

[2017-04-26 05:51] #117 closed

[2017-05-08 08:51] wouter-muller opened #118 "Request for "dollar-variable-empty-line-after""
When i am declaring locally scoped variables, i like to put an empty line after to keep them separated from my rules, like so:
[code]

[2017-05-08 12:56] jeddy3 commented on #118
@wouter-muller Use `declaration-empty-line-before: "always"`.

From from the [stylelint docs](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/about-rules.md#-empty-line-before-and--max-empty-lines-rules):

[2017-05-08 19:29] alexander-schranz opened #119 "Allow math with media-feature-value-dollar-variable"
Want to use `media-feature-value-dollar-variable` but want to allow:

[code]

so maybe an ignore or except rule can be added

[2017-05-09 14:23] dryoma commented on #119
Hi @alexander-schranz

I think for these cases using stylelint's comments that temporarily turn the rule off will be just fine. I just don't see what kind of ignore or except can be applicable. It is possible to do add a feature like "always, but ignore cases when var is a part of an expression", but that effectively would render the `always` part pointless.

[2017-05-09 20:23] alexander-schranz commented on #119
@dryoma dont see the different to something like this https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/double-slash-comment-empty-line-before/README.md
which you can also set to `always` and `ignore` `between-comments` or something.

I want to check if he use a variable. And dont want to allow skipping of the stylelint rules. The problem is when you tell some people how they can

[2017-05-10 09:40] dryoma commented on #119
So you basically want to make always+ignore/except to allow not just a single variable, but _any kind of_ expression that has a variable? liks `$var + 1`, `$foo + $bar`, `f(10, $lol) / calc (100% - 10px) + 156px`?

[2017-05-10 19:10] alexander-schranz commented on #119
@dryoma correct

[2017-05-11 07:26] dryoma commented on #119
Hmm. @kristerkari @jeddy3 your thoughts?

[2017-05-11 08:50] jeddy3 commented on #119
We don't really have anything like these `*-dollar-variable` rules in core. So, I'm not sure what's the idiomatic approach here. I think the closest we have is [`font-family-name-quotes`](https://github.com/stylelint/stylelint/blob/master/lib/rules/font-family-name-quotes/README.md), with it's three `always-*` options.

Perhaps a new `always-within` primary option? Which is read as "there must alw

[2017-05-30 07:10] sourav-kumar opened #121 "Mixin-name-pattern is not working for postcss-mixins"
Postcss-mixin is having differnt way to write and add mixin,

Is there any way we can validate those syntax ?

[2017-05-31 21:38] bardware opened #122 "stylelint fix findings"
Hi,

is there a possibility to have findings like whitespaces in comments as specified in rule `scss/double-slash-comment-whitespace-inside` fixed automatically?

[2017-06-06 13:26] filip-savic commented on #4
@davidtheclark If you have variables in a `variables.scss` or similar file, you could set

[code]

so you can't have either `color: #fff` or `color: white`, and just disable linting for those values where they are set.

[2017-06-07 11:16] damianobarbati opened #123 "recommended configuration [feature request]"
Is there a way to require all the rules at once?
Like:
[code]

[2017-06-24 06:45] jitendravyas opened #124 "Suggestion - A rule to give error if other than variable.scss has $variable as a property name"

[2017-06-28 20:56] kristerkari commented on #124
Hello and thanks for the suggestion, could you provide some examples of what you mean with this?

[2017-06-28 20:58] kristerkari commented on #123
This is a duplicate of https://github.com/kristerkari/stylelint-scss/issues/91, so let's continue the discussion there.

We haven't made a standard config yet because someone needs to decide which rules to include.

[2017-06-28 20:58] #123 closed

[2017-06-28 21:01] kristerkari commented on #122
I haven't had a lot of time for this project lately, so I'm not sure how stylelint's autofixing is implemented. Would be interesting to know if it is easy to implement fixing for plugins.

Any ideas @jeddy3 @davidtheclark @evilebottnawi ?

[2017-06-28 21:03] kristerkari commented on #121
Thanks for the question.

I see that this was already answered in https://github.com/stylelint/stylelint/issues/2600#issuecomment-304978387, so I'd also say that a custom plugin is a good idea. Closing this for now.

[2017-06-28 21:03] #121 closed

[2017-06-28 21:49] jeddy3 commented on #122
`stylelint-order` is the first plugin (pack) I know of [to add support](https://github.com/hudochenkov/stylelint-order/commit/51bd322d2fd799949d3573f2bc26d0fef70b53b7) for `--fix`.

Enabling plugins to autofix their violations is one of the driving forces behind adding the feature to stylelint.

[2017-06-29 05:39] jitendravyas commented on #124
I mean I want that my project should have variables in `variable.scss` file only not in any other file like `component.scss`

So I was suggesting a rule which checks variables in any other file and gives error. I will add `variable.scss` as ignore.

like `component.scss` give error for this line

`$a-variable:#ccc`

but not for this

`color:$a-variable`

[2017-06-29 08:15] kristerkari commented on #124
Thanks for the explanation!

It is a nice idea, but I'm not sure how easy it would be to implement.

First of all the linter would need to know where `variable.scss` is, then parse it to get all the variables, keep the variables in memory and then for each `.scss` parse it and see if the variables exists there.

I have a feeling that there could be some major performance problems for bigger projec

[2017-07-05 14:15] dfb1900 opened #125 "Rule improvement - "dollar-variable-empty-line-before""
Add "after-multi-line" or "after-map" to the list of exceptions. The exception will allow an empty line before variables, if they were preceded by a map.

[code]

For example, the following pattern is considered a warning:

[code]

The following patterns are not considered warnings:
[code]

[code]

[2017-07-06 00:10] lithiumlron opened #126 "Suggestion: Add rule "at-rule-no-unknown""
This issue was discussed previously in #86 and PR #92 was created to resolve the issue but before stylelint/stylelint#2173 was released.

With stylelint/stylelint#2173 resolved using `stylelint.utils.checkAgainstRule` in stylelint ^7.7.0, perhaps this rule can be added now?

I have a working implementation in my [fork under branch "at-rule-unknown"](https://github.com/lithiumlron/stylelint-scss/tr

[2017-07-06 15:17] kristerkari commented on #126
Yeah it has been on hold because https://github.com/kristerkari/stylelint-scss/pull/92 has not been finished.

Please submit a PR if you have got a working implementation 👍

[2017-07-06 15:20] kristerkari commented on #125
Thanks for the suggestion! This would be a good improvement.

[2017-07-08 18:53] #126 closed

[2017-07-10 06:30] ntwb opened #139 "Update docs for `at-rule-no-unknown` rule inherited rule behaviour"
In `stylelint-config-wordpress` I've two configurations, one for plain CSS and one for SCSS

https://github.com/WordPress-Coding-Standards/stylelint-config-wordpress/blob/master/index.js
https://github.com/WordPress-Coding-Standards/stylelint-config-wordpress/blob/master/scss.js

The `scss.js` config extends the `index.js` config.

In the `index.js` config I've the stylelint rule `'at-rule-no-unkn

[2017-07-10 07:02] kristerkari commented on #139
Yes, I think that that is expected because you are extending a config.

`scss/at-rule-no-unknown` should be used to replace `at-rule-no-unknown` when using SCSS. As the docs say: `Should be used instead of stylelint's at-rule-no-unknown.`

I think that it's a good idea to add that to docs too.

[2017-07-10 07:07] kristerkari commented on #86
This is implemented in version 1.5

[2017-07-10 07:07] #86 closed

[2017-07-11 06:56] jeddy3 commented on #91
Version `8.0.0` of stylelint is going to be accompanied by the release of a [new recommended](https://github.com/stylelint/stylelint-config-recommended) config that only turns on the error checking rules. This is to help [users of pretty printers and formatters](https://github.com/stylelint/stylelint/blob/v8/VISION.md).

This config will turn on the `at-rule-no-unknown` rule, which will likely thr

[2017-07-11 19:26] kristerkari commented on #91
@jeddy3 Seems easy enough. I can create that repo.

[2017-07-13 23:36] keegan-lillo opened #140 "Enforcing whitespace between at-rule and parentheses"
Similar to how this works: http://eslint.org/docs/rules/space-before-function-paren

There would be rules for: `@function`, `@mixin`, `@else if` (I think that's all that support parentheses)

## Example with `@function`

### at-function-parentheses-space-before

Require or disallow a space before `@function` parentheses

[code]

## Options

`string`: `"always"|"never"`

### `"always"`

There *must

[2017-07-16 13:38] kristerkari commented on #91
@jeddy3 I created  https://github.com/kristerkari/stylelint-config-recommended-scss

You might want to have a look at it before I publish it. I wasn't sure how I should set up `dependencies` vs `peerDependencies`, so now I have `stylelint` and `stylelint-scss` in `peerDependencies`.

[2017-07-16 13:41] jeddy3 commented on #91
LGTM. How you have it is how we do it for `config-standard` and `config-recommended`.

[2017-07-16 13:45] ntwb commented on #91
Awesome, thanks @kristerkari 💯

[2017-07-16 14:02] kristerkari commented on #91
Good to hear, 1.0.0 released. :)

[2017-07-17 12:59] evilebottnawi opened #142 "Release new version with support stylelint@8"
Stylelint@8 was shipped, let's support :+1:

[2017-07-18 16:16] ArmorDarks commented on #118
@jeddy3 is right, provided by him rule completely covers this case

[2017-07-18 16:19] ArmorDarks commented on #105
Would be great to see this feature, since as for now `scss/dollar-variable-empty-line-before` indeed doesn't allow grouping in such style:

[code]

[2017-07-18 16:28] ArmorDarks opened #143 "`scss/declaration-nested-properties` wrongly reports some selectors"
Seems that following rule doesn't work well with escaping in selectors,

[code]

This

[code]

Will produce following errors:

[code]

![sublime_text_2017-07-18_19-27-44](https://user-images.githubusercontent.com/4460311/28328418-34728d14-6bef-11e7-8a25-2cf2a0e0f852.png)

[2017-07-18 16:37] ArmorDarks opened #144 "`scss/operator-no-unspaced` false reports"
Hi!

Following rule

[code]

wrongly reports occurrences of "operators"-like characters in Sass map and extends:

[code]

[code]

![sublime_text_2017-07-18_19-36-13](https://user-images.githubusercontent.com/4460311/28328809-63223aaa-6bf0-11e7-836e-642c41eea437.png)

[2017-07-19 13:11] martinwolf commented on #142
Yeah, that would be awesome. Just updated stylelint to Version 8 in one of my projects and the linting still works, but running it as a precommit hook with "Husky" doesn't work because the 7.x.x version of stylelint is used but isn't compatible with the new rules from stylelint 8.

Anyway. Would love to see the update supporting Styelelint 8. 😃

[2017-07-19 22:27] jimblue commented on #139
my config file .stylelintrc looks like this and this is working

[code]

[2017-07-19 23:00] ntwb commented on #139
Try making sure you're using the latest stylelint 8.0.0 and stylelint-scss 1.5.1

I made this same/similar change and it works for me: https://github.com/WordPress-Coding-Standards/stylelint-config-wordpress/commit/8feb571ed4e92ba9a93b9aeee7c9076865b3d716#diff-901df0375ec380c2d540a0da47c25b4d

[2017-07-20 13:14] weaintplastic opened #145 "at-rule-no-unknow: Cannot read property 'rejected' of undefined"
Hey,

I'm getting the following error with the latests release when executing stylelint.
[code]

[2017-07-20 21:02] jimblue commented on #139
@ntwb tks it worked

[2017-07-22 10:09] kristerkari commented on #144
Thanks for reporting this! I guess the rule needs to just ignore the characters if they're not real operators.

[2017-07-22 10:10] kristerkari commented on #143
Thanks for reporting! This rule also needs to handle escaped characters.

[2017-07-22 10:13] kristerkari commented on #142
Yeah, I can release a new version with stylelint 8 support.

@evilebottnawi What would be the best way to bump stylelint version? Release a patch? Release a minor version? What about changing to use stylelint as a peer dependency? Would that break backwards compatibility?

[2017-07-22 10:15] kristerkari commented on #145
Hmm.. @weaintplastic which versions of `stylelint` and `stylelint-scss` are you using?

[2017-07-23 17:32] #143 closed

[2017-07-23 17:43] kristerkari commented on #144
Fixed in #148

[2017-07-23 17:43] #144 closed

[2017-07-26 12:02] evilebottnawi commented on #142
@kristerkari release a major version :+1:
@jeddy3 @davidtheclark @hudochenkov what do your think about using `stylelint` as peer dep?

[2017-07-26 14:01] davidtheclark commented on #142
@evilebottnawi: I think that this is one of the main purposes of peer dependencies — so yes!

[2017-07-26 18:22] giladgray commented on #142
peer dep seems correct here.
it's the same strategy used by [tslint-react](https://github.com/palantir/tslint-react/blob/master/package.json#L24-L27), a tslint plugin package analogous to this one.

[2017-07-29 15:55] ArmorDarks commented on #143
Thanks, works perfectly!

[2017-07-29 15:55] ArmorDarks commented on #144
Thanks! Tested, works!

[2017-07-29 16:20] kristerkari commented on #142
Done:
https://github.com/kristerkari/stylelint-scss/releases/tag/2.0.0

[2017-07-29 16:20] #142 closed

[2017-07-30 08:14] jacebot opened #154 "'dollar-variable-colon-space-after' add ignore flag or make an integer value"
[Link to rule.](https://github.com/kristerkari/stylelint-scss/tree/master/src/rules/dollar-variable-colon-space-after)

So current implementation is a little strict.
Current implementation:
`string: "always"|"never"|"always-single-line"`

Suggest either an integer value or add an ignore flag.

This style of spacing between variables and assignment can be seen in the Bootstrap core. I know this is

[2017-07-30 15:46] kristerkari commented on #154
Thanks for the suggestion @jacebot.

I don't see a reason to have "ignore" flag as you can fully or partly disable the rule without it. Here are some options that you can use depending on your setup:

1. If you want the rule to be disabled and you have the rule in your `.stylelintrc` file, then you can simply remove it from there.
2. If you have installed an existing config (set of rules) and if y

[2017-07-30 21:49] kristerkari commented on #154
Good to hear that to managed to get it working! The `null` trick probably applies to some other rules as well, so we should somehow document it in the project readme.

[2017-07-30 21:49] #154 closed

[2017-08-01 13:18] #112 closed

[2017-08-03 12:39] copiali opened #156 "Rule shorthand-property-no-redundant-values not working when have variables for value in sass"
When I use variables in the value, shorthand-property-no-redundant-values rule is not working.
For example following code will not get alert:
`$baseline: 8px;
.foo {
  padding: $baseline 0 0 0;
}`

Any fix for this will be added?

[2017-08-04 07:06] weaintplastic commented on #145
My fault, sorry. I was still on a locked outdated version of stylelint. I'm very sorry.

[2017-08-04 07:06] #145 closed

[2017-08-04 08:47] kristerkari commented on #156
That rule is part of `stylelint` and not this project. Most of the `stylelint` rules are meant to use with CSS, so they don't work with SCSS syntax.

You might want to report this to https://github.com/stylelint/stylelint and see what they respond. It might be that it won't get fixed unless we implement a similar rule for `stylelint-scss` that supports your code example.

[2017-08-06 13:33] copiali commented on #156
I created this issue their, but they asked me to report here...
https://github.com/stylelint/stylelint/issues/2790

[2017-08-11 04:44] corysimmons opened #158 "Anything like stylelint-config-standard for this?"
https://github.com/bjankord/stylelint-config-sass-guidelines is the only config I found, and it doesn't care about a lot of inconsistencies.

[2017-08-11 05:17] corysimmons commented on #158
Nvm it's fine.

[2017-08-11 05:17] #158 closed

[2017-08-15 20:20] corysimmons opened #159 "Order?"
Can you use this plugin to put SCSS concepts (like vars, mixins, etc.) in *order* like:

[code]

[2017-08-15 20:47] kristerkari commented on #159
@corysimmons nope, but you can use [stylelint-order](https://github.com/hudochenkov/stylelint-order) or [postcss-sorting](https://github.com/hudochenkov/postcss-sorting) to do just that.

[2017-08-15 21:03] corysimmons commented on #159
Yeah, sorry, I overlooked https://github.com/hudochenkov/stylelint-order/blob/master/rules/order/README.md#options

Thank you!

[2017-08-15 21:03] #159 closed

[2017-08-20 01:01] keegan-lillo commented on #140
edit: removed `@while` and `@if` because they are covered by `at-rule-name-space-after`

[2017-08-21 07:41] jeddy3 commented on #156
That's correct. The built-in rules _simply ignore_ non-standard constructs. As such, a new `scss/shorthand-property-no-redundant-values` rule within this plugin pack is the way forward. Unlike the built-in rule, this new rule wouldn't ignore SCSS variables. @copiali Please consider contributing the rule to stylelint-scss if you think it'll be useful to you and others.

[2017-09-04 16:12] spawnia opened #165 "Request new rule: Declare properties before nested rules"
Properties in a rule should always be declared before nested rules. This is because the properties for the element itself are most important to see first.

This would be considered a violation:

[code]
This would be considered OK
[code]

[2017-09-05 21:09] kristerkari commented on #165
Thanks @spawnia! At first I was thinking that this could be a good rule to add, but then I remembered that you can actually already do this kind of linting with `stylelint-order`. Have a look at the examples:
https://github.com/hudochenkov/stylelint-order/blob/master/rules/order/README.md

[2017-09-08 20:58] testerez opened #170 "scss/selector-no-redundant-nesting-selector"
I just updated to version 2.1.0 and this became an issue:

[code]

`[stylelint] Unnecessary nesting selector (&) (scss/selector-no-redundant-nesting-selector)`

I think that this should be a valid use case.

[2017-09-09 09:47] kristerkari commented on #170
Thanks! Your example does not compile with Sass, do you have an example that both compiles correctly and warns about unnecessary nesting selector?

[2017-09-09 13:45] testerez commented on #170
Oups sorry, I fixed the example.

[2017-09-09 14:01] kristerkari commented on #170
This looks like a bug as the rule warns about your code example. That code is something that is not covered by our unit tests, so the rule needs a bug fix.

[2017-09-09 14:22] kristerkari commented on #170
@testerez This is actually not a bug. You are getting the error because of `&` that is infront of `.bar`.

So these codes are actually equal:

Fails
[code]

Passes
[code]

[2017-09-09 14:22] #170 closed

[2017-09-09 15:59] testerez commented on #170
Oh yes you're right. Thanks!

[2017-09-19 11:01] AndyOGo opened #172 "Rule Improvement for maps - dollar-variable-colon-newline-after"
Currently enabling **dollar-variable-colon-newline-after** errors for:

[code]

Though it's nice and readable.

To fix it I'm forced to write:

[code]

[2017-09-19 17:56] psbanka opened #173 ""appearance" is a valid property"
Hello,
[code]
stylelint flags this as invalid, but  `appearance: none` removes the magnifying-glass from a search input. https://css-tricks.com/almanac/properties/a/appearance/

[2017-09-19 20:35] kristerkari commented on #172
Hmm... yeah I think that it it would make sense to add an option to allow your example.

[2017-09-19 20:36] kristerkari commented on #173
Thanks for the report @psbanka, can you report this to https://github.com/stylelint/stylelint instead? It's not really related to this project.

[2017-09-19 20:36] #173 closed

[2017-09-20 07:32] jeddy3 commented on #172
Would the following config not suffice here?:

[code]

Are there many occasions of multiline dollar variables that aren't maps? If yes, then yeah, maybe an option. Otherwise, the above config would work.

[2017-10-11 13:35] s10wen opened #176 "Add no-duplicate-dollar-variables rule"
Discussion from: https://github.com/stylelint/stylelint/issues/2954 brought me here :)

[2017-10-11 20:09] kristerkari commented on #176
Thanks! The variable rule sounds good. I'm open for contributions as I don't have that much time for this project currently :)

[2017-11-13 21:40] diego-codes opened #181 "Rule Idea: at-mixin-named-arguments and at-function-named-arguments"
## Context
I looked around the project for a mention to this type of rule and didn't find anything, so I apologize if this is a duplicate.

Sass has a really useful feature that allows developers to call mixins and functions with named parameters. It makes otherwise confusing calls with "mystery" arguments more readable and easy to update. I didn't write this [article](http://blog.ricardofilipe.co

[2017-11-14 09:03] kristerkari commented on #181
Thanks! This seems like a really good idea for a rule. :+1:

[2017-11-14 09:06] kristerkari commented on #140
This was implemented in #141 :)

[2017-11-14 09:06] #140 closed

[2017-11-14 13:22] diego-codes commented on #181
Great! I’d be happy to work on a PR for this.

[2017-11-14 13:27] kristerkari commented on #181
Nice, please ping me if you need any help :)

[2017-11-26 06:04] mathroc commented on #4
@filip-savic there’s also rgb/rgba ans hsl/hsla

[2017-11-29 18:29] spaceninja opened #183 "`double-slash-comment-empty-line-before` except first-nested doesn't work"
From my config:

[code]

And the following code throws an error:

[code]

If I'm reading the rule correctly, the `except: ["first-nested"]` should cause that CSS to pass validation. Am I doing something wrong?

[2017-11-29 18:52] kristerkari commented on #183
Thanks for reporting! I can add a unit test for that and let's see what result I get :)

[2017-11-29 19:00] kristerkari commented on #183
@spaceninja Looking at the unit tests for that rule it's working as espected:
https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/double-slash-comment-empty-line-before/__tests__/index.js#L135-L148

So, your code reports an error with `except: ["first-nested"]` enabled, but not if that option is disabled.

[2017-11-29 19:46] spaceninja commented on #183
🤦‍♂️ You're totally right, I misunderstood the rule. Thanks!

[2017-11-29 19:46] #183 closed

[2017-11-29 20:11] kristerkari commented on #183
No worries, let me know if you find anything that is not working :+1:

[2017-12-02 10:01] kristerkari commented on #181
Released in v2.2.0, thanks @diego-codes!

[2017-12-02 10:01] #181 closed

[2017-12-02 13:12] diego-codes commented on #181
🎉 awesome! Thanks.

[2018-01-19 20:19] jblandry opened #195 "dollar-variable-colon-space-after: At least one space"
Would it be complex to add the possibility of having at least one space after the colon, for the purpose of aligning values ?
[code]
Ref: [SCSS Lint at_least_one_space](https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#spaceaftervariablecolon)

[2018-01-20 20:39] kristerkari commented on #195
Thanks @jblandry! That could be implemented as a new rule, why not :)

[2018-01-24 10:41] zyxneo commented on #13
@jeddy3, @dryoma
This worked for me with regular SCSS:
[code]
It also ignores variable declarations.

[2018-01-24 22:48] woodyrew opened #196 "`@include` throwing `at-rule-no-unknown`"
I'm getting the following error when using `@include`
![2018-01-24_1a68](https://user-images.githubusercontent.com/1902064/35361140-1c79e6fe-0158-11e8-8a41-082eb9a7b769.png)

The configuration `.stylelintrc`
[code]

Is this an error or have I configured something wrong?
Thanks

[2018-01-26 22:23] kristerkari commented on #196
Hmm... I'm not sure which rules `stylelint-config-standard` includes, but you have to use the SCSS version of the rule, so this should help:

[code]

[2018-01-29 12:17] hisuwh opened #197 "Rule to enforce nesting of elements"
I want stylelint to complain if I do this:

[code]

And be happy if I do this:
[code]

Much like sass-lint's [force-element-nesting](https://github.com/sasstools/sass-lint/blob/master/docs/rules/force-element-nesting.md)

[2018-01-30 17:21] jeddy3 commented on #13
@zyxneo That's very nice. It's great to see use cases like this addressed at the configuration level.

[2018-01-31 14:15] woodyrew commented on #196
Thank you. This resolved the issue.

[2018-01-31 14:15] #196 closed

[2018-01-31 17:55] kristerkari commented on #197
Thanks! That sounds like a good rule idea

[2018-01-31 22:30] freezy-sk opened #198 "Rule to check !default flag"
https://github.com/twbs/bootstrap/issues/20717 require linting that all variables have !default flag
What about name `dollar-variable-default`?
Primary option: `true`
Secondary options: `ignore: ["local"]` to ignore local variables and check only global

[2018-02-01 20:52] kristerkari commented on #198
Thanks! Sounds good :)

[2018-02-03 14:43] #198 closed

[2018-02-06 07:21] sindresorhus opened #202 "False-positive in `double-slash-comment-whitespace-inside` rule"
This incorrectly causes a violation:

[code]

With stylelint-scss 2.3.0

[2018-02-06 07:50] sindresorhus opened #203 "The `dollar-variable-colon-newline-after` rule should ignore maps"
Or at least have an option to ignore them.

This currently causes a violation:

[code]

But it would look weird to write it as:

[code]

---

With stylelint-scss 2.3.0

[2018-02-06 11:11] kristerkari commented on #203
This the same issue as the one reported here, right?
https://github.com/kristerkari/stylelint-scss/issues/172

[2018-02-06 11:14] kristerkari commented on #203
I guess that we could just ignore maps by default as it looks weird to write them with a newline.

[2018-02-06 11:17] kristerkari commented on #202
Thanks, this should be easy to fix :+1:

[2018-02-06 22:39] kristerkari commented on #202
@sindresorhus are you sure that that variable + string triggers a warning? I tried it both with a unit test and in a project, but I could not reproduce the bug.

[2018-02-06 22:59] kristerkari commented on #172
I'm currently thinking of implementing a fix for this, but I'm not sure if the fix should ignore Sass maps by default, or only by enabling an option. What about values that use parens, e.g. `$var: (1 + 1)`?

So the currently these are possible options:

- Ignore Sass maps and values with parens by default.
- Ignore Sass maps by default but check values with parens.
- Add option to ignore Sass maps

[2018-02-07 05:59] sindresorhus commented on #202
You're right. Seems it was affected by something else. I managed to reduce it to this:

[code]

[2018-02-07 06:51] kristerkari commented on #202
Thanks, I'll try again using that :)

[2018-02-07 09:44] AndyOGo commented on #172
Thanks @kristerkari for your interest.

I think sass maps should be ignored by default, but only if you know for sure that the tooling is sass. Else I'm find with an opt-out option too.

[2018-02-07 16:17] kristerkari commented on #202
I had a new look at this, and it looks like the issue is that `postcss-scss` parser and `node-sass` both throw an error when trying to parse:

[code]

That then results, for some reason, to trigger a linting error for the next part:
[code]

[2018-02-07 16:20] kristerkari commented on #203
I added a comment to ask for feedback to decide what the default behavior for `dollar-variable-colon-newline-after`rule should be:
https://github.com/kristerkari/stylelint-scss/issues/172#issuecomment-363594714

[2018-02-07 16:29] kristerkari commented on #172
Check for a Sass map should not be a problem, as there could be a regular expression that checks that the value matches a pattern, e.g.

starts with `(`, followed by a key and then `:` and the value ends with `)`.

[2018-02-08 22:44] jimblue commented on #109
Hi @dryoma @kristerkari  !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please guy change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

I'll remove this mess

[2018-02-11 08:43] kristerkari commented on #172
True, that's a good example.

I wonder would the users consider this a bugfix or a breaking change? Would it be safer to put behind an option?

[2018-02-11 08:57] sindresorhus commented on #172
IMHO, bug fixes are not breaking changes unless they introduce new violations. This just removes a violation.

[2018-02-11 17:14] kristerkari commented on #172
I can have a look at fixing this when I have a moment, but i don't mind if someone else wants to contribute a fix for this :)

[2018-02-12 13:21] AndyOGo opened #206 "add @at-root indentation support"
By enabling the intrinsic [**indentation**](https://stylelint.io/user-guide/rules/indentation/) rule I get indentation errors for using SASS's `@at-root` syntax.
Unfortunately I can't ignore certain @-rules over there. So I suppose to add a SCSS specific identation rule.

The following code errors.

[code]

[2018-02-12 20:05] kristerkari commented on #206
Thanks @AndyOGo! Hmm.. this is a tricky one. I would like to avoid creating a SCSS specific indentation rule if possible.

Would it be possible for you to write the selector in a different way (nesting) to avoid the indentation error?

[2018-02-12 21:00] kristerkari commented on #172
@AndyOGo @sindresorhus I created a fix #207. Please check it out and let me know if that fixes the issue with multiline variables/maps.

[2018-02-12 21:16] AndyOGo commented on #206
@kristerkari
Thanks for your quick answer.
Sure, that's easy to change. Just not as nice.

Splitting them like, works:
[code]

Though, I decided to just disable it:
[code]

[2018-02-12 21:30] kristerkari commented on #206
Yeah, I think that disabling in those case is the best solution, as I really don't want to create a rule that does exactly the same thing that stylelint's rule, but with one exception.

[2018-02-13 08:11] AndyOGo commented on #206
@kristerkari
I totally see your point. I will try to ask them to add custom ignore rules.

[2018-02-13 08:22] AndyOGo commented on #206
Issue created at stylelint.
https://github.com/stylelint/stylelint/issues/3168

[2018-02-19 12:07] evilebottnawi opened #209 "Support `stylelint@9`"
:star:

[2018-02-19 21:12] kristerkari commented on #209
Definitely, it's a good time to drop Node 4 support too, https://github.com/kristerkari/stylelint-scss/pull/194.

[2018-02-20 09:38] evilebottnawi commented on #209
@kristerkari +1

[2018-02-20 11:49] villesau opened #210 "no-(s)css-rules"

[2018-02-20 12:49] kristerkari commented on #210
That sounds good, probably we just need to come up with a good name for the rule :)

[2018-02-20 21:02] cainrus commented on #210
Do not forget about mixins only files.

[2018-02-21 07:21] kristerkari commented on #210
Maybe it's a good idea to properly specify how this rule should work before starting to work on it.

@villesau could you write something like similar than in this example: https://github.com/kristerkari/stylelint-scss/issues/103#issue-210572201 ?

[2018-02-21 08:49] villesau commented on #210
@kristerkari I think that's not quite the same. The motivation behind this is that we have common variables.scss file, which is imported hundreds of times across the project. It mostly contains colors and some other variables. Anyhow, we had a case where some one introduced a css rule there, like:

variables.scss:
[code]

And what happened was that when variables.scss is imported hundreds of times

[2018-02-21 10:07] kristerkari commented on #210
@villesau What I meant that could you use a similar format to specify what are the rule options, what are some examples for invalid code, and what are some examples of valid code.

For example, would you define in the plugin options that the rule only applies to a file called `variables.scss`, or would you turn on the rule inside that file?

[2018-02-21 10:08] kristerkari commented on #210
ah, you already answered my question:

[2018-02-21 18:09] kristerkari commented on #209
I'm planning on doing this in 2 steps.

First release a minor version that adds support for stylelint 9. Next version after that could be a major version (3.0)  that drops support for Node.js 4.

[2018-02-21 18:14] evilebottnawi commented on #209
@kristerkari sound good

[2018-02-21 18:27] #209 closed

[2018-02-21 18:39] kristerkari commented on #209
Done:
https://github.com/kristerkari/stylelint-scss/releases/tag/2.4.0

[2018-02-22 14:22] jimblue commented on #109
Hi @dryoma @kristerkari !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please guy change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

I'll remove this messa

[2018-02-24 09:36] #165 closed

[2018-02-28 12:24] jimblue commented on #109
Hi @dryoma @kristerkari !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please guy change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

I'll remove this messa

[2018-03-01 20:01] levacic commented on #4
I use the following plugin for that purpose: https://github.com/sh-waqar/stylelint-declaration-use-variable - though I guess it might make sense for that rule to be part of this package.

[2018-03-01 20:15] levacic commented on #172
@kristerkari As far as I can see, the fix only changes the behavior of `always`, but not `always-multi-line` - and I think it's the latter that causes an issue.

I would like the following to be valid when using `always-multi-line`:

[code]

Does that make sense?

[2018-03-02 04:09] kristerkari commented on #172
@levacic I see what your issue is. The reason why I did not change it was that the name "alway-multi-line" means that you want to have a newline always when you use a multi line variable (which a Sass map is too).

I don't know if changing the behavior by not requiring a newline before maps would actually cause unexpected results for users of the rule.

I'm open for feedback related to how the rul

[2018-03-02 11:59] levacic commented on #172
Maybe something like `except: ['parentheses']` or something, which would revert the rule in that case? I'm not sure either how to best approach this - I'm a new stylelint user so I don't know what the idiomatic solution would be, and I'm not even 100% certain that the formatting we use makes sense as a rule, ie. whether that's a good and consistent standard to follow.

[2018-03-02 18:11] sindresorhus commented on #172
I agree with @levacic. I'm also using it with `always-multi-line` and expected the same.

[2018-03-02 19:15] kristerkari commented on #172
okay, it seems that we need to do a follow-up fix for the rule if the expectation is that `always-multi-line` also ignores Sass maps. @levacic 's example can be used as a unit test.

[2018-03-04 15:39] jimblue commented on #109
@dryoma, @kristerkari  !

Has you can see I've change my Github user name for jimblue. Keeping jmbelloteau was not good for SEO as my website is jmbelloteau.com and I started to have many post on Github.

Because Github doesn't do it automatically could you please change the reference to @jmbelloteau for @jimblue in your post above?

Thank you for helping me with that.

Cheers

[2018-03-04 15:44] jimblue opened #218 "need answer"
Hi @kristerkari ,

I'm trying to reach you for more than a month without getting any answer.
Because I'm not sure you got my emails or message I'm writing you here.

Can you please help me out and answer my request:

https://github.com/kristerkari/stylelint-scss/issues/109

Thank you so much

[2018-03-04 16:28] #218 closed

[2018-03-06 15:39] #195 closed

[2018-03-06 15:56] jblandry commented on #195
🎉

[2018-03-06 19:15] stormwarning commented on #195
Hmm, I'm getting

```Invalid Option: Invalid option value "at-least-one-space" for rule "scss/dollar-variable-colon-space-after"```

after adding the new option to my `.stylelintrc.js` but I can't figure out why...

[2018-03-06 19:24] kristerkari commented on #195
@stormwarning make sure that you have the latest version installed.

Works for me with:

[code]

[2018-03-06 19:46] stormwarning commented on #195
Yeah, looks like the latest is in `node_modules` 🤷‍♂️ Must be something with this specific project I guess. Thanks for confirming it's working!

[2018-03-07 17:22] OriR commented on #122
@kristerkari I'm integrating `stylelint-scss` to an existing project and I'm getting a hundreds of errors on similar rules.

Is there any chance we can promote this?

[2018-03-07 18:58] kristerkari commented on #122
@OriR That sure is quite frustrating.

I might have some time in the near future to look at implementing `--fix` for some of the rules, but there are quite many of them and I'm limited on the time that I can put to this library.

Any help to add fixing to rules and any ideas how to get people to help is appreciated. :)

[2018-03-07 21:04] OriR commented on #122
I'm a big believer in just asking nicely ;)

So I'm here to help! let me know how you want to divide the work, and if you could point me at the right direction so I'll start poking around the code I'll get right on it 😃

[2018-03-07 22:37] kristerkari commented on #122
I'm very happy that you want to help with this @OriR 🙏So thanks in advance!

First of all, there are some rules that can be too complicated to implement `--fix`, so we need to find out which ones can support it.

If it helps, we can start gathering a list of rules that can support fixing.

It's very easy to add unit tests for the fix flag, you just need to enable it in tests and then add `fixed:`

[2018-03-07 22:46] kristerkari commented on #122
There's also documentation for autofixing:
https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#adding-autofixing

[2018-03-08 14:32] OriR commented on #122
I took a quick look at the readme and I think the `--fix` flag could apply to these rules:

- [ ] `at-else-closing-brace-newline-after`
- [ ] `at-else-closing-brace-space-after`
- [ ] `at-else-empty-line-before`
- [ ] `at-else-if-parentheses-space-before`
- [ ] `at-function-parentheses-space-before`
- [ ] `at-if-closing-brace-newline-after`
- [ ] `at-if-closing-brace-space-after`
- [ ] `at-mixin-p

[2018-03-08 15:09] kristerkari commented on #122
@OriR That list looks really good! Thanks!

The ones you are not sure about are rules that most likely can not have autofixing and the same goes for "pattern" and "missing" rules.

I created a new milestone called "--fix", so we can start implementing autofix one-by-one to rules. It's probably a good idea to update your list by marking `(WIP @username)` next to the rule name.

[2018-03-08 16:06] kristerkari commented on #122
@OriR I started with an easy one:
https://github.com/kristerkari/stylelint-scss/pull/221

[2018-03-09 11:16] OriR commented on #122
@kristerkari Wow!
Wasn't expecting for such a quick turnaround!
Was gonna try and start working on it this weekend but I don't think I'd be able to learn the codebase & PostCSS AST in time because it looks like you're already halfway through 😅

[2018-03-09 11:18] kristerkari commented on #122
Haha, don't worry, there are still plenty of rules that need autofix. You can have a look at my pull requests for example of how I have implemented autofixing :)

[2018-03-09 11:39] OriR commented on #122
Yeah sure!
I'll start poking around and see what I come up with, I'll probably open my first PR sometime tomorrow :)

[2018-03-09 13:50] kristerkari commented on #122
btw. `operator-no-*` rules might be a bit tricky to autofix, we need to have a closer look and decide if we want to do it or not.

[2018-03-09 14:08] OriR commented on #122
Yeah, saw that 😞
Also, the function `findCommentsInRaws` makes it all the more difficult to fix `double-slash-comment-whitespace-inside` and `operator-no-unspaced` because it doesn't actually traverses the AST, so we can't just modify a node we find that needs fixing during the same iteration.

[2018-03-09 14:11] kristerkari commented on #122
We can maybe skip the rules that use `findCommentsInRaws` for now, and later refactor the code to better support autofixing.

[2018-03-12 21:15] jblandry commented on #195
Implemented! Thanks a lot 👍
https://github.com/absolunet/stylelint-config-nwayo/blob/master/.stylelintrc.yaml#L501

[2018-03-13 10:57] kristerkari commented on #195
Nice to hear @jblandry. :) Let us know if you find any bugs related to that rule or any other rules.

[2018-03-18 14:10] levacic commented on #172
This fix works great, but I've now discovered another use-case which I haven't noticed before - function calls. I would like the following to be valid:

[code]

It's a multi-line variable declaration, and isn't a map (which this issue is about), but it's a similar situation _in spirit_ - moving the function call to the next line seems like it would decrease readability, rather than increase it.

W

[2018-03-18 17:30] AndyOGo commented on #206
PR created:
https://github.com/stylelint/stylelint/pull/3225

[2018-03-18 18:37] kristerkari commented on #172
Hmm.. yeah it seem that we would need more exceptions to the rule, maybe we should start thinking of putting the exceptions behind an option.

[2018-03-23 22:10] AndyOGo commented on #206
above PR got merged, will close it here

[2018-03-23 22:10] #206 closed

[2018-03-31 10:21] kristerkari commented on #122
This has been released in 3.0.0. Thanks for helping!

[2018-03-31 10:21] #122 closed

[2018-04-17 19:44] RCopeland opened #236 "at-function-named-arguments should ignore maps"
I have a map like:
[code]
which is triggering scss/at-function-named-arguments.

I'm using stylelint@8.40 and stylelint-scss@2.2.0.

[2018-04-17 19:46] RCopeland commented on #236
[code]
makes the error go away...

[2018-04-17 22:02] kristerkari commented on #236
I created a fix:
#237

[2018-04-18 05:52] #236 closed

[2018-04-18 06:01] kristerkari commented on #236
Fix released in v3.0.1

[2018-04-18 13:49] RCopeland commented on #236
great thanks!

[2018-04-20 11:27] sardell opened #238 "New install results in TypeError: Cannot read property 'rejected' of undefined"
I'm running into the same problem as seen in issue #145. However, I'm using the latest stylelint-scss release.

## My environment:
Mac OS 10.13.2
Node 9.11.1
npm 5.6.0
stylelint-scss 3.0.1
stylelint 9.2.0

## Steps to reproduce
I followed the instructions in the [Installation and Usage section](https://github.com/kristerkari/stylelint-scss#installation-and-usage). Then I ran `stylelint "path/to/my

[2018-04-20 18:07] kristerkari commented on #238
Thanks for the report!

Hmm.. I was not able to reproduce the bug with the settings that you listed.

The error is thrown when accessing the base rule from stylelint:

[code]

The `messages` property is unknown and that throws. I really have no idea why it does not find the stylelint rule it tries to access.

Did you already try to remove `node_modules` folder and installing again?

[2018-04-21 13:52] sardell commented on #238
I should have already done that, and of course that was the resolution to my issue. :flushed:

Thank you for your quick response!

[2018-04-21 13:52] #238 closed

[2018-04-26 19:03] #176 closed

[2018-04-26 19:24] kristerkari commented on #176
This has been released in version 3.1.0

[2018-04-27 19:08] chimericdream opened #242 "[Request] ignore some function names for `at-function-named-arguments`"
I'd like to require named arguments for most function calls, but exclude things like `map-merge()`. Would it be possible to add this as an optional secondary rule?

[2018-04-27 20:36] chimericdream commented on #172
I actually came here planning to request this exact feature. In my case, I ran across this when merging two maps:
[code]

[2018-04-27 21:59] kristerkari commented on #172
I'll reopen this as the rule still needs to be changed to ignore function calls. :)

[2018-04-30 15:02] chimericdream commented on #124
Perhaps this could be implemented in tandem with #210, because they seem to be related in the goal they want to accomplish. The implementation could be based in the stylelint config rather than attempt to make a guess based on file contents. I'm thinking something like this:

[code]

[2018-04-30 15:08] chimericdream commented on #210
I just posted in #124 about this, but thought I'd put my suggestion here as well, because I think the two rules could have similar configurations. Using the convention I suggested in the other issue, the config for this rule could look something like this:

[code]

An added benefit to doing it this way is you wouldn't have to worry about special handling for mixins, placeholders, etc. Just specify

[2018-05-03 08:15] sindresorhus opened #243 "Rule idea: Disallow Sass variables"
I use a lot of Sass features, but I can't use Sass variables as they are resolved at compile time, which doesn't work with how I do theming, so I need to use CSS variables. Would be nice to be able to disallow Sass variables so I don't accidentally use them.

[2018-05-03 17:51] kristerkari commented on #243
This would probably then go to the section `General / Sheet` and would be called `no-dollar-variables`.

[2018-05-04 18:19] evilebottnawi opened #244 "[question] `scss/no-duplicate-dollar-variables`"
Example:
[code]

Looks like rule don't look on context, just search same name and all. It is expected behaviour?

[2018-05-04 18:40] kristerkari commented on #244
The rule is quite simple and does not handle any special cases, at least yet.

In your example it might be easier to just use `stylelint-disable-line` because the rule does not really have enough context to know why you are using the same variable name inside the `@if`.

I don't think that we can make exceptions to the rule and at the same time have it working 100% correct for everyone.

[2018-05-04 18:47] evilebottnawi commented on #244
@kristerkari thanks for response, i agree looks on context increase complex rule, but perhaps such a rule would be truly worthwhile

[2018-05-04 18:50] kristerkari commented on #244
Oh yeah there's of course always the option of adding secondary `ignore` option to the rule to ignore variables inside `@if`.

[2018-05-04 19:09] kristerkari commented on #244
There could be an ignore option to ignore variables:

- Inside nested rules, or..

Inside at-rules.

- Inside `@mixin`
- Inside `@include`
- Inside `@if`
- Inside `@each`
- Inside `@function`
- Inside `@media`
- etc...

[2018-05-25 11:05] alexander-schranz opened #247 "[Request] Comma dangle for lists"
[code]

Possible rules: `always` or `never` like eslint equivalent https://eslint.org/docs/rules/comma-dangle

[2018-05-25 16:16] kristerkari commented on #247
Sounds like a good idea!

[2018-06-13 23:42] kaelig opened #252 "operator-no-newline-before and operator-no-unspaced fail with CSS Custom Properties"
According to my tests, these two rules:

[code]

Fail to lint:

[code]

Trace:

[code]

[2018-06-14 17:06] kristerkari commented on #252
Thanks! I need verify, but looks like a bug :)

[2018-06-14 19:10] YozhikM commented on #252
I confirm the error is caused with this CSS.
[code]

[2018-06-14 19:16] kristerkari commented on #252
@YozhikM That would be great, thanks for the help!

[2018-06-14 19:23] #252 closed

[2018-06-14 19:38] kristerkari commented on #252
Fix available in v3.1.1. Thanks for helping!

[2018-06-14 20:04] kaelig commented on #252
Thank you!

[2018-06-16 20:04] kristerkari commented on #244
@evilebottnawi I have now implemented ignore options for the rule. Please have a look at the PR and let me know if it solves the issue that you had:
https://github.com/kristerkari/stylelint-scss/pull/256

[2018-06-22 18:18] BPScott commented on #247
[Prettier v1.13 now respects the trailingComma config option for formatting lists/maps](https://github.com/prettier/prettier/pull/4317)

Having prettier and stylelint be in sync would be good

[2018-06-22 19:00] kristerkari commented on #247
Definitely. I hope that I have time in the next weeks to implement a couple of the rules that have been requested.

Any help is of course appreciated. :)

[2018-07-09 03:58] in19farkt opened #258 "no-descending-specificity"
Hello! I encountered such a problem:
`Expected selector "#{$r}_modifier .block__element" to come before selector ".block__element" (no-descending-specificity)`.

[code]
Any ideas?

[2018-07-09 21:02] kristerkari commented on #258
Thanks @in19farkt. That rule is not actually part of this library, and I'm not familiar with the implementation details. Could you instead report the bug in stylelint's main repo? https://github.com/stylelint/stylelint

[2018-07-10 03:44] in19farkt commented on #258
This problem occurs when a variable is inserted into the selector. Each preprocessor has its own syntax for this. In SCSS it looks like an `#{$variable}_modifier {}`. Maybe it's worth overriding this rule?

[2018-07-10 10:59] kristerkari commented on #258
What we usually do with rules that come from `stylelint` library is that the bug should be reported in that repository first, and if it is not possible to fix in the original rule, then we can think of creating a new rule that is specific to the SCSS syntax.

Handling Sass' interpolation means a lot of complexity for the linting rules, so in your case it might make sense to use  `// stylelint-disa

[2018-07-12 05:39] in19farkt commented on #258
I submitted new [issue](https://github.com/stylelint/stylelint/issues/3455) to `stylelint`.

[2018-07-12 20:42] kristerkari commented on #258
Thanks! It seems to already be fixed in stylelint, so I guess that nothing needs to be done here 👍

[2018-07-12 20:42] #258 closed

[2018-07-20 10:59] davidding opened #261 "False negatives with `operator-no-unspaced` rule for `unicode-range` values in `@font-face`"
Using the example from https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/unicode-range#Examples:

[code]

yields unexpected errors with `stylelint-scss`, `v3.1.3`:

[code]

([W3C `unicode-range` reference](https://www.w3.org/TR/2018/CR-css-fonts-3-20180626/#unicode-range-desc))

[2018-07-21 07:08] kristerkari commented on #261
Thanks!

[2018-07-21 07:18] kristerkari commented on #261
PR with a fix:
https://github.com/kristerkari/stylelint-scss/pull/262

[2018-07-21 07:56] #243 closed

[2018-07-21 07:56] #261 closed

[2018-07-21 07:56] #244 closed

[2018-08-04 02:08] chrisopedia commented on #242
On the same vein here, how would you deal with things like:

[code]

[2018-08-04 06:52] kristerkari commented on #242
@chrisopedia That looks like a bug to me. I'll investigate

[2018-08-05 14:13] kristerkari commented on #242
Just to give an update, I have verified the bug and I'm working on a fix. It's a bit tricky to fix tho because of the hacky way of how the rule is parsing function parameters currently.

[2018-08-09 15:38] stphane opened #266 "Setting "selector-no-redundant-nesting-selector" to true causes FATAL error"
Setting option `scss/selector-no-redundant-nesting-selector: true` in _.stylelintrc.js_ causes:
[code]
While running:  `webpack-dev-server --env.env dev --env.isLocal true --progress --inline --port=8080 --watch --hot`

Using
`└─┬ stylelint-scss@3.2.0`
`.        └── postcss-selector-parser@4.0.0`

[2018-08-10 10:32] stphane commented on #266
Thank you for your feedback, that's annoying actually, I could hardly imagine how my setup would interfer with this switch option which barely seems to check legitimate use of `&` ref during parse process.
This option used to work but now broke my build process since I have updated some dependencies, but sources have not changed.

[2018-08-10 10:36] kristerkari commented on #266
@stphane If you upload your project somewhere where I can access it, I can have a look to see if I manage to reproduce the error.

[2018-08-10 14:26] stphane commented on #266
Thank you for proposing but I cannot expose this project publicly `:|`

[2018-08-10 16:49] kristerkari commented on #266
Alright. Just let me know if you find any reason why the error happens. For now I don't think that there is much that I can do to help. :)

[2018-08-10 19:37] kristerkari commented on #242
@chrisopedia Here's the pull request with a fix: https://github.com/kristerkari/stylelint-scss/pull/267

I'll release a new version after that gets merged.

[2018-08-12 10:34] kristerkari commented on #242
@chimericdream I have implemented an option called `ignoreFunctions`. It will be included in the next release: https://github.com/kristerkari/stylelint-scss/pull/269

[2018-08-12 14:07] kristerkari commented on #242
Both things are included in the latest release:
https://github.com/kristerkari/stylelint-scss/releases/tag/3.3.0

[2018-08-12 14:07] #242 closed

[2018-09-19 06:17] mijelin opened #270 "Rule idea: Adaptation of "function-calc-no-unspaced-operator" that supports function calls"
The [`function-calc-no-unspaced-operator`](https://stylelint.io/user-guide/rules/function-calc-no-unspaced-operator/) rule (from `stylelint`) is meant to do the following:

In my codebase, the naming convention for functions is to use kebab-case -- however, the `-` characters in the function name are interpreted as minus signs, causing an error to be reported:

[code]

It would be really awesome t

[2018-09-29 21:20] thegranddesign opened #274 "partial-no-import fails for Google Font URL format"
Having:

[code]

in a partial makes `partial-no-import` thrown an error when it should not.

[2018-09-29 21:48] thegranddesign opened #275 "Strange Behavior with block-closing-brace-space-after"
### Minimal Config

[code]

### Stylesheet to Reproduce

[code]

I get `block-closing-brace-space-after: Unexpected whitespace after "}"` even though the config is set to `never`.  I'm assuming it's matching the newline which it should not since that is handled by `block-closing-brace-newline-after`.  There's literally no way to make this pass except to only have one block in the file.

[2018-09-29 21:49] #275 closed

[2018-09-30 09:09] kristerkari commented on #274
Thanks! I'll have a look.

[2018-10-11 19:11] MartijnCuppens opened #276 "Find unused Sass variables"
@XhmikosR and @Johann-S made a plugin which detects variables that aren't used: https://github.com/XhmikosR/find-unused-sass-variables

It would be nice if we can make a stylelint plugin of this. I tried to make something myself but I don't really have an idea how I should approach this and I'm afraid I'm just not experienced enough in these things to make something valuable.

I think this could b

[2018-10-11 20:42] kristerkari commented on #276
I like the idea and I think that you have a good start for a great tool.

The idea reminds me of this eslint plugin:
https://github.com/atfzl/eslint-plugin-css-modules#readme

I have nothing against adding the rule to this plugin as long as the implementation can be done in a way that the perf stays good :)

Reading the files from a disk and parsing the SCSS can be fast when you have 100 files in

[2018-10-17 12:02] robertjk opened #277 "no-duplicate-dollar-variables doesn't respect scopes"
`no-duplicate-dollar-variables` rule reports variables with the same name but declared in different scopes. The snippet below produces error `Unexpected duplicate dollar variable $padding-x   scss/no-duplicate-dollar-variables`.

[code]

For me it's pretty obvious that this shouldn't be reported. Am I wrong?

[2018-10-17 16:56] kristerkari commented on #277
Thanks! The way the rule was created is that it looks for variables in the whole stylesheet's scope. I think that the rule could be changed to be a bit more clever to not warn for your use case.

So, this would warn (overwriting a variable from outer scope):

[code]

...but this would not warn (the variable is not defined in the outer scope):

[code]

[2018-10-25 21:48] rtibbles commented on #266
I have come across this error too, but even with the setting in question turned off.
I think the error is actually coming from one of the dependencies, see here: https://github.com/postcss/postcss-selector-parser/issues/139

It has been fixed in the 0.5.0 release candidate, but there is no final release just yet.

[2018-10-25 22:30] rtibbles commented on #266
From my investigations I narrowed it down to this rule: `'scss/percent-placeholder-pattern'` rather than the one reported above, with the following setting `"^[a-z]+([a-z0-9-]+[a-z0-9]+)?$"` in `stylelint-config-sass-guidelines` package.

[2018-10-26 06:37] kristerkari commented on #266
@rtibbles Thanks a lot for investigating why the error happens. I'll try to see if I manage reproduce the error on my machine.

[2018-10-26 16:38] rtibbles commented on #266
One other useful thing to note, is that I only triggered this when linting somewhere on the order of 200+ files (and maintaining reference to each file by wrapping all calls to stylelint in a `Promise.all`).

[2018-10-26 16:50] kristerkari commented on #266
I think that when postcss-selector-parser v5.0.0 gets released, we can upgrade to it and see if that fixes this issue.

[2018-11-07 21:17] kristerkari commented on #274
Sorry that I did not have time to look at this before now. @thegranddesign there is now a pull request with a fix for the issue #283. I'm going to release a new version with the fix soon.

[2018-11-07 21:23] #274 closed, assigned to nobody

[2018-11-08 15:40] thegranddesign commented on #274
You’re awesome! Thank you!

[2018-11-15 17:54] evilebottnawi opened #286 "false positive on ++ and -- in `operator-no-unspaced`"
Input:
[code]

Require:
[code]

Expected (no errors):
[code]

[2018-11-15 19:29] kristerkari commented on #286
Thanks! Would you have any other examples for the bug? I don't think that it would be very common to write `++1` as the value as it is turned to just `1` by Sass.

[2018-11-15 19:52] evilebottnawi commented on #104
@kristerkari can be close, stylelint support `sass`, rules for `sass` better store in other repos :smile:

[2018-11-15 19:58] #104 closed

[2018-12-04 07:27] ysds opened #289 "at-function-named-arguments for function in map"
[code]

Like a following patterns are expected no errors, but errors.

[code]

[2018-12-05 10:49] bjankord commented on #266
@rtibbles, you might try making a branch/fork of this repo and update postcss-selector-parser to pull in the latest release candidate of [postcss-selector-parser, v5.0.0-rc.4](https://github.com/postcss/postcss-selector-parser/releases), and see if that resolves the issue. I haven't been able to reproduce the noted memory issue.

[2018-12-05 19:44] kristerkari commented on #289
Pull request with a fix:
https://github.com/kristerkari/stylelint-scss/pull/290

[2018-12-05 20:11] #289 closed

[2018-12-05 20:15] kristerkari commented on #289
Released the fix with 3.4.1:
https://github.com/kristerkari/stylelint-scss/releases/tag/3.4.1

[2018-12-06 19:32] rtibbles commented on #266
I just stopped using the rule I identified above, and that stopped me getting the memory issues, so I am not in an urgent rush to fix this!

[2018-12-06 19:52] bjankord commented on #266
Ok, that is understandable. I don't have a reproducible test case, so likewise,  I am not in an urgent rush to fix this.

[2018-12-20 19:37] brendanfalkowski opened #292 "False positive on relative URL paths for "operator-no-unspaced""
Hi @kristerkari — it's been a few years! I've added these rules into all my SCSS projects and it's a big help.

Just noticed there's a false positive for the `operator-no-unspaced` rule matching some relative file paths. I thinks the `/` is a division operator.

![screen shot 2018-12-20 at 11 36 03 am](https://user-images.githubusercontent.com/214924/50306876-86ac2e00-044b-11e9-9d0e-b0801e6dfa4d.p

[2018-12-20 21:18] kristerkari commented on #292
Hey @brendanfalkowski! Nice to hear from you.

Thanks for the bug report, I'll have a look.

[2018-12-21 01:47] kristerkari commented on #292
PR with a fix:
https://github.com/kristerkari/stylelint-scss/pull/293

[2018-12-21 01:55] #292 closed

[2018-12-21 02:05] kristerkari commented on #292
fix included in v3.4.2
https://github.com/kristerkari/stylelint-scss/releases/tag/3.4.2

[2018-12-21 18:25] mexn opened #294 "TypeError: Cannot read property 'mode' of undefined"
Hi,

I guess I found a bug:
If I try to lint a file with the following content:
[code]
I get the this error:
[code]

I narrowed it down a bit, so this only happens when the first value is the string with the two backslashes and when the second variable holds the result a function-call with a string as parameter. Any other combination seem to work properly.

[2018-12-22 02:00] #294 closed

[2018-12-26 14:06] kristerkari commented on #266
This should now be fixed in v3.4.4. If it's not fixed yet, let's re-open this issue.

https://github.com/kristerkari/stylelint-scss/releases/tag/3.4.4

[2018-12-26 14:06] #266 closed

[2019-01-08 22:59] nathanfoon opened #297 "New rule: at-mixin-parentheses-space-inside"
It would be great to have a rule that requires a single space or disallows whitespace inside parentheses of mixins—identical (on the surface, at least) to [function-parentheses-space-inside](https://stylelint.io/user-guide/rules/function-parentheses-space-inside/).

[2019-01-11 01:08] kristerkari commented on #297
Thanks! Yes, sounds like something that we could implement in this plugin.

[2019-01-13 13:55] kristerkari opened #299 "Rule idea: selector-nest-* (selector type)"
Pull request #298 implemented the `selector-nest-combinators` rule to check that selector combinators are nested.

Based on this list https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors, there could also be these additional rules:

- `selector-nest-types`
- `selector-nest-classes`
- `selector-nest-ids`
- `selector-nest-attributes`
- `selector-nest-pseudos`

[2019-01-13 13:58] kristerkari commented on #197
This now available with ` selector-nest-combinators` rule in v3.5.0

I also opened a new issue to add more rules to enforce nesting:
https://github.com/kristerkari/stylelint-scss/issues/299

[2019-01-13 13:58] #197 closed

[2019-01-15 15:46] lxsymington opened #300 "selector-nest-combinators messaging"
#197 implemented selector-nest-combinators, however, the messages are malformed and therefore causing either unhandled errors or undefined output.

[code]

[2019-01-15 16:43] greenkeeper[bot] opened #302 "An in-range update of postcss is breaking the build 🚨"
## The devDependency [postcss](https://github.com/postcss/postcss) was updated from `7.0.11` to `7.0.12`.

🚨 [View failing branch](https://github.com/kristerkari/stylelint-scss/compare/master...kristerkari:greenkeeper%2Fpostcss-7.0.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

postcss is a devDependency of this proj

[2019-01-16 00:18] #302 closed

[2019-01-16 00:25] #300 closed, assigned to nobody

[2019-01-16 10:56] greenkeeper[bot] opened #303 "An in-range update of stylelint is breaking the build 🚨"
## The devDependency [stylelint](https://github.com/stylelint/stylelint) was updated from `9.9.0` to `9.10.0`.

🚨 [View failing branch](https://github.com/kristerkari/stylelint-scss/compare/master...kristerkari:greenkeeper%2Fstylelint-9.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

stylelint is a devDependency of

[2019-01-21 20:34] lxsymington commented on #299
@kristerkari would this relate specifically to chaining or is this tied in with combinators as well?

Some of this was implemented as part of #298, perhaps it should not have been? Or was the plan to implement this as exceptions/alternate options?

[2019-01-21 23:12] kristerkari commented on #299
I was thinking about combinators mainly.

My thinking behind the new rules was that you could limit the nesting by the type of the selector. So if you only care that the classes should be nested, then you could enabled that rule.

Now that I'm thinking about this, maybe it would make more sense to introduce these as options to your rule. What would you think about that @lxsymington ?

[2019-01-22 01:51] #303 closed

[2019-01-25 13:36] lxsymington commented on #299
@kristerkari, yes I think it would make sense to be part of the same rule. I will try and find some time to have a look at this.

[2019-01-31 20:53] Cole-Beckwith-SP opened #306 "false positive 'selector-nest-combinators'"
Given a value 'always' and a stylesheet:

[code]

The linter will report the error:

`'Expected combinator "}" of type "tag" to be in a nested form'`

[2019-01-31 22:55] kristerkari commented on #306
Thanks! Looks like the rule needs to ignore interpolation.

[2019-02-01 16:11] Cole-Beckwith-SP commented on #306
Thanks for this project!

[2019-02-01 18:08] kristerkari commented on #306
Thanks for reporting the issue :)

I already have fix for the issue, so I'll try to release a patch tonight or tomorrow.

[2019-02-02 01:34] #306 closed

[2019-02-02 01:42] kristerkari commented on #306
fix released in v3.5.2
https://github.com/kristerkari/stylelint-scss/releases/tag/3.5.2

[2019-02-06 04:23] wulfharth opened #308 "False positive for operator-no-unspaced with Rackspace URL"
I'm getting a false positive for `operator-no-unspaced` with Rackspace URLs. The URLs contain a subdomain consisting of two hashes beginning with digits and separated by a hyphen. I can reproduce the bug with the following minimum test case.

**config**

    {
        "plugins": [ "stylelint-scss" ],
        "rules": { "scss/operator-no-unspaced": true }
    }

**.scss**

    div { background-imag

[2019-02-06 17:45] kristerkari commented on #308
Thanks! I'll see if I can make a unit test to fail using your example

[2019-02-06 20:46] kristerkari commented on #308
I opened a pull request with a fix:
https://github.com/kristerkari/stylelint-scss/pull/309

[2019-02-06 23:15] #308 closed

[2019-02-06 23:27] kristerkari commented on #308
Fix released in v3.5.3:
https://github.com/kristerkari/stylelint-scss/releases/tag/3.5.3

[2019-02-14 21:38] chrismbarr commented on #277
Another false positive example I ran across today:

[code]

[2019-02-14 22:29] kristerkari commented on #277
@chrismbarr those are not actually false positives, to avoid that you can use the ignore options of the rule:
https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/no-duplicate-dollar-variables/README.md#ignoreinsideatrules-array-of-at-rules

[2019-02-20 13:47] alexander-schranz opened #310 "operator-no-unspaced detects comment as code"
The following code:

[code]

fails with on current version `3.5.3`:

[code]

This comments should not be detected as operator.

[2019-02-20 21:07] kristerkari commented on #310
Thanks! I'll have a look at it.

[2019-02-20 21:28] kristerkari commented on #310
Hmm.. I can't get your example to fail in a unit test, and it also does not fail in my test project that I use for debugging stylelint issues.

Is there some other code that you are using addition to your example that could cause it to fail?

[2019-02-21 21:19] zacharyrs commented on #172
Just wanted to say this seems to have an issue with `!default`.

For example, the following triggers a warning:
[code]

[2019-02-22 08:49] kristerkari commented on #172
Thanks for letting me know @zacharyrs!

I'll look into fixing that.

[2019-02-22 21:36] kristerkari commented on #172
@zacharyrs I released a fix for using a map with `!default`: https://github.com/kristerkari/stylelint-scss/releases/tag/3.5.4

[2019-02-23 00:55] zacharyrs commented on #172
Sweet, thanks for the update!

[2019-03-06 20:19] kristerkari commented on #310
Closing this as inactive. Let's reopen if something new comes up.

[2019-03-06 20:19] #310 closed

[2019-03-19 09:25] jantimon opened #314 "New Rule Idea: forbid &-className syntax"
I would like to disallow using ampersand as part of a class name for example:

[code]

Is there already a rule for that?

[2019-03-19 18:00] kristerkari commented on #314
Thanks! Sounds like a good idea for a rule.

[2019-04-11 19:29] alexander-schranz commented on #310
@kristerkari  Sorry for the late reply it seems to be an issue with the value-keyword-case:

[code]

[code]

[code]

So I think its not really related to stylelint-scss more to stylelint itself as the value-keyword-case does change something which should not be changed:

Related to https://github.com/stylelint/stylelint/issues/3847

[2019-04-15 09:40] limonte opened #317 "warning " > stylelint-scss@3.5.4" has incorrect peer dependency "stylelint@^8.0.0 || ^9.0.0"."
stylelint@10 has been released https://github.com/stylelint/stylelint/releases/tag/10.0.0

it would be nice to support it

[2019-04-15 10:39] kristerkari commented on #317
Yup, I'll try to update all my stylelint plugin in the next couple of days. For now you can just ignore the warning.

[2019-04-17 18:05] kristerkari commented on #317
This is now fixed in v3.6.0

[2019-04-17 18:05] #317 closed

[2019-04-19 12:38] MartijnCuppens opened #319 "3.6.0 release notes"
Hi @kristerkari,

Could you maybe add some release notes to the latest version? https://github.com/kristerkari/stylelint-scss/releases

[2019-04-19 15:58] kristerkari commented on #319
Done:
https://github.com/kristerkari/stylelint-scss/releases/tag/3.6.0

[2019-04-19 15:58] #319 closed

[2019-04-24 15:10] axelboc commented on #294
I'm seeing the same issue with rule `block-no-empty`

[code]

[2019-04-24 15:53] kristerkari commented on #294
@axelboc could you post the CSS here that triggers the error?

[2019-04-30 08:42] Lesechka commented on #100
Give me an advice please!
I have no idea with work of rule "scss/double-slash-comment-empty-line-before": "never".
If I type command 'npm run lint-style' I get mistakes:
src/styles/scss/_typography.scss
 30:5  ×  Unexpected empty line before comment   scss/double-slash-comment-empty-line-before
 35:5  ×  Unexpected empty line before comment   scss/double-slash-comment-empty-line-before.
But after

[2019-04-30 09:08] Lesechka opened #321 "scss/double-slash-comment-empty-line-before"
Give me an advice please!
I have no idea with work of rule "scss/double-slash-comment-empty-line-before": "never".
If I type command 'npm run lint-style' I get mistakes:
src/styles/scss/_typography.scss
30:5 × Unexpected empty line before comment scss/double-slash-comment-empty-line-before
35:5 × Unexpected empty line before comment scss/double-slash-comment-empty-line-before.
But after command 'n

[2019-04-30 10:56] kristerkari commented on #321
Hello @Lesechka

I'm not sure what you mean by your message, but the  `always` option means that there should be always an empty line before the comment and `never` means that there should be no empty lines before the comments.

If it's possible for you to paste the contents of `_typography.scss` here, it would make it easier for me to help you.

[2019-04-30 11:11] Lesechka commented on #321
I wrote rule "scss/double-slash-comment-empty-line-before": "never", but after command 'npm run fix-style' I get nothing. For example, in this part of code:
h3 {

    // font-family: $fontStack;
    color: $textBlack;
    font-weight: 400;
    font-size: 24px;

    // font-weight: 700;
    line-height: 35px;
}
But after command 'npm run lint-style' I get mistakes, such as:
src/styles/scss/_typogra

[2019-04-30 11:13] kristerkari commented on #321
Thanks for the example! I'll write a test to see if there is something in the rule that is not working properly.

[2019-04-30 11:15] Lesechka commented on #321
So the main my question: why the rule doesn't fix these mistakes? After fix command it should print these mistakes too, but it do nothing(
Thank you a lot!

[2019-04-30 11:19] kristerkari commented on #321
The rule has autofixing, but it might be not working correctly. I'll need to have a look at the rule and write a test using your example tonight after I finish working.

In the meantime, please make sure that your `npm run fix-style` command is running `stylelint` with the `--fix` flag.

[2019-04-30 11:25] Lesechka commented on #321
If I use rule "comment-empty-line-before": "never", npm run fix-style works correctly.

[2019-04-30 11:33] Lesechka commented on #321
Unfortunately, almost the whole code of the project has double-slash comments. So I can't delete automatically empty lines before them with rule "comment-empty-line-before": "never"

[2019-04-30 11:37] kristerkari commented on #321
I just checked the `double-slash-comment-empty-line-before` rule and there are not tests for the autofixing for `never` option, so maybe it was not implemented properly.

[2019-04-30 11:39] Lesechka commented on #321
Also I should mention that in such case:
h1 {
    // font-family: $fontStack;
    line-height: 55px;
    @include mediaMobile {
        margin-bottom: 15px;
        font-size: 33px;
    }
}

//comment
h2 {
    // font-family: $fontStack;
    line-height: 45px;
    @include mediaMobile {
        font-size: 20px;
    }
}
Command 'npm run fix-style' works with '//comment'. But after every this comman

[2019-04-30 12:30] axelboc commented on #294
Hmm, seems to be working fine now, strange. Sorry about that! I'll let you know if I bump into the issue again.

[2019-04-30 19:46] #321 closed

[2019-04-30 20:01] kristerkari commented on #321
I released v3.6.1 with some fixes. Please upgrade to that version and let me know if it fixes your problem:
https://github.com/kristerkari/stylelint-scss/releases/tag/3.6.1

[2019-05-02 06:36] Lesechka commented on #321
Thank you for your help! It fixes my problem completely.

[2019-05-02 13:53] greenkeeper[bot] opened #323 "An in-range update of babel-plugin-istanbul is breaking the build 🚨"
## The devDependency [babel-plugin-istanbul](https://github.com/istanbuljs/babel-plugin-istanbul) was updated from `5.1.3` to `5.1.4`.

🚨 [View failing branch](https://github.com/kristerkari/stylelint-scss/compare/master...kristerkari:greenkeeper%2Fbabel-plugin-istanbul-5.1.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**

[2019-05-20 12:22] iwanttobealight commented on #86
thank you! :octocat:

[2019-06-03 15:43] dartess opened #328 "Disallow Undeclared Variables rule?"
Hi!

What about Undeclared Variables?

Or there is no such rule, or I did not find it.

Example:

[code]

The similar rule in eslint is called `no-undef`.

[2019-06-05 11:11] kristerkari commented on #328
The idea is good, but it might just be difficult to implement.

The rule would need to parse all the CSS files that your files are referencing to find the variables, and that might be very slow to do.

[2019-06-05 11:33] dartess commented on #328
About slowness (imho):

When using tools that improve the quality of the code or, for example, reduce the size of the bundle code, the speed issue appears quite often. Suppose the rule is turned off by default, and its implementation will not affect the speed of work while it is turned off. Then the decision on what is more important, the speed of check or the accuracy of check, can be made indivi

[2019-06-05 11:40] kristerkari commented on #328
I totally agree, but usually when there is reading from the disk + parsing involved, the performance drop is more like between 10x and 100x. There might of course be some tool (or even Sass?) that could do these kind of things in a very performant way.

[2019-06-05 11:43] kristerkari commented on #328
There's also a similar discussion in this issue:
https://github.com/kristerkari/stylelint-scss/issues/276

[2019-06-05 12:25] nex3 commented on #328
In addition to performance, there's the issue of accurately resolving imports. Many applications pass load paths or custom importers to Sass which the linter won't have access to, without which accurately resolving imports to see which variables are defined in a given scope becomes essentially impossible.

[2019-06-05 16:11] kristerkari commented on #328
I think that with this comment it is enough to conclude that creating a rule like this does not make sense. For those who want to find unused variables, they can use a tool like this one:
https://github.com/XhmikosR/find-unused-sass-variables

[2019-06-05 16:11] #328 closed

[2019-06-05 16:15] kristerkari commented on #276
There was some additional discussion in #328 about this.

There are two major issues with creating a rule like this:

1) Very difficult to achieve good performance.
2) The difficulty/impossibility of correctly resolving variables:

That's why it instead of having a rule it makes more sense to have a script that finds unused variables:
https://github.com/XhmikosR/find-unused-sass-variables

[2019-06-05 16:15] #276 closed

[2019-06-13 15:30] rob-bar commented on #4
This is insufficient...
What about border-color, box-shadow, etc. etc...
The plugin allows adding more properties and even a /color/ regex sort of idea, but this will always be insufficient and a problem with future color properties.

**There should just be a rule that checks on any color setting other than a variable. Then that should be flagged. Not caring about the property.**

[2019-06-13 15:32] rob-bar commented on #4
I know the node-sass linter has this option. I love that. Because then I'm sure all my colors rely on the color scheme vars. And optionally I can dissable the rule where I need to per line. when I need a specific hex value.

[2019-06-17 23:00] lucksp opened #334 "“unexpected keyword 'import'” error"
I have recently made a change to a SCSS file which contains `@import "./fonts.scss";` at the top.  My actual changes were further down the file as I was editing some styling.  As part of the pre-commit git hook with Husky, it checks changed files.

When I commit, i get the error message:

File changed and referenced in error above

### public/style.scss file:
[code]

### .stylintrc file config:
[c

[2019-06-18 07:15] kristerkari commented on #334
Thanks! I don't really know which part of your config causes the error to happen. Would it be possible for you to upload your project somewhere so that I could have a look at it?

[2019-06-18 13:12] twittwer opened #335 "Detect redundant combinators"
It would be nice if the `selector-no-redundant-nesting-selector` rule can detect the following scenario:
[code]

Best Regards

[2019-06-18 15:00] lucksp commented on #334
My project is a private repo for work.  Does anything standout as obvious?  Can we use a mix of `styled-component` with basic SCSS linting rules?

[2019-06-18 18:55] nex3 commented on #335
This is just invalid Sass... `&` can't be used in a root-level selector.

[2019-06-21 15:00] gadzhimari commented on #196
Hi. I tried the recipes described above, but still not working. I get the same error in this code
[code]

![2019-06-21_17-56-59](https://user-images.githubusercontent.com/1849608/59931588-fbd5db80-944d-11e9-9e16-4e8e8c36a09b.png)

My deps
[code]

and stylelintrc config
[code]

[2019-06-21 15:08] kristerkari commented on #196
Please set ”at-rule-no-unknown” to null and ”scss/at-rule-no-unknown” to true

[2019-06-21 15:29] gadzhimari commented on #196
You didn't look at my config code. As I said previously, I add these rules, but nothing is changes.

[2019-06-21 16:21] gadzhimari commented on #196
@kristerkari my fault, I've done a typo in my config file, instead of curly braces, I add square brackets.

[2019-06-24 13:04] kristerkari commented on #196
@gadzhimari Good that you got it fixed.

When I looked at your message, the config looked different so that's why I replied like that. I guess that you edited it afterwards.

[2019-06-24 13:06] kristerkari commented on #334
It might be that the `stylelint-processor-styled-components` is causing the issue in this case, but I'll need to try out your configs to verify that.

[2019-06-24 13:08] kristerkari commented on #335
@twittwer Thanks! Your example won't compile with Sass, so there is no need to try to detect it.

[2019-06-24 13:08] #335 closed

[2019-06-25 21:17] #323 closed

[2019-06-26 14:37] lucksp commented on #334
I updated initial post with some info to explain this is a monorepo

[2019-06-29 08:58] #314 closed

[2019-07-05 14:06] dartess commented on #4
@rob-bar please give a link for this

[2019-07-05 21:51] nwoltman opened #341 "`selector-no-union-class-name` rule false positive"
The `selector-no-union-class-name` rule thinks there are errors here:

[code]

It seems the rule doesn't realize that pseudo-element selectors and ID selectors aren't class name unions.

cc @pipopotamasu

[2019-07-08 13:02] rob-bar commented on #4
These are some links:
[no-color-hex](https://github.com/sasstools/sass-lint/blob/master/docs/rules/no-color-hex.md)
[no-color-keywords](https://github.com/sasstools/sass-lint/blob/master/docs/rules/no-color-keywords.md)
[no-color-literals](https://github.com/sasstools/sass-lint/blob/master/docs/rules/no-color-literals.md)

[variable-for-property](https://github.com/sasstools/sass-lint/blob/master/

[2019-07-09 08:12] kristerkari commented on #341
Thanks! Looks like there are some things to fix.

[2019-07-09 19:06] #341 closed

[2019-07-09 21:23] dperolio opened #343 "New optional secondary option for: double-slash-comment-empty-line-before"
It would be nice to have an option of `except: ["inside-block"]` or even `ignore: ["inside-block"]` as stylelint's standard [rule-empty-line-before](https://stylelint.io/user-guide/rules/rule-empty-line-before/#except-after-rule-after-single-line-comment-inside-block-and-after-rule-inside-block-first-nested) does. I like to include an empty line before my comments when they are not in blocks, and

[2019-07-09 23:56] pipopotamasu commented on #341
@kristerkari thx!

[2019-07-10 06:53] kristerkari commented on #343
Thanks for this! Looking at your examples, I guess it makes sense to add the option.

[2019-07-16 16:46] jantimon opened #345 "stylelint-scss selector-no-union-class-name breaks entire stylelint process"
Reproduction css example:

[code]

If you run this code against the `selector-no-union-class-name` test it will crash the entire process.

I did some research and found out that the reason is that the parent of `button:hover & {` is `@include demo() { ` and therefore there is no `selector` property for the parent in this line:

https://github.com/kristerkari/stylelint-scss/blob/147b44cf10725fbf7b0

[2019-07-17 09:17] kristerkari commented on #345
Thanks! I'll have a look at it

[2019-07-17 16:13] kristerkari commented on #345
@jantimon I made a PR with a fix: https://github.com/kristerkari/stylelint-scss/pull/346

[2019-07-18 08:05] jantimon commented on #345
Added a small improvement over #346 in #347

[2019-07-18 08:11] #345 closed

[2019-07-24 13:23] certainlyakey opened #348 "map-keys-quotes rule should allow ignoring numbers"
Hi! `map-keys-quotes` is pretty useful, thanks for this addition. In my opinion, it should allow for numbers to stay unquoted though. For example in this color map:

[code]

it doesn't make much sense to quote the keys of the 2nd level submap since they are numeric on purpose. However, it would be advantageous to still have string-like keys (such as `primary`) to be quoted. Would adding 'ignore' o

[2019-07-24 20:55] kristerkari commented on #348
@rambleraptor @nex3 What do you think?

[2019-07-24 21:27] nex3 commented on #348
I agree. I think the lint should only apply to maps with keys that are syntactically identifiers.

[2019-07-25 13:37] amstiel opened #349 "Enforce imported partial file extension"
Hi! Is there a way to enforce partial file extension specifying?
For example:
`@import 'style.scss';` - valid
`@import 'style';` - not valid

I tried to use `"scss/at-import-partial-extension-whitelist"` rule, but it works only when extension is specified. My goal is to forbid importing `.sass` files. Whitelist rule does not work for `.sass` file which imported like a `@import 'sassfile';`.

[2019-07-25 18:55] nex3 commented on #349
Writing explicit extensions is not something I'd consider good style. Why enforce this at the `@import` site rather than enforcing that no indented-syntax files exist?

[2019-07-26 01:01] amstiel commented on #349
So why does rule `"scss/at-import-partial-extension-whitelist"` exist if it does not work when I do not specify an extension? And why there is no rule that would force the developer to specify an extension?
By the way `sass-lint` has rule `filename-extension` for this.

[2019-07-26 06:49] kristerkari commented on #349
That's most likely something that needs to be fixed. The other `whitelist` rules in stylelint allow the user to pass `[]` as the option.

[2019-07-26 21:23] rambleraptor commented on #348
This sounds great!

[2019-07-29 07:21] amstiel commented on #349
@kristerkari Perhaps you did not understand me correctly, I mean explicit extensions of imported files, not value of rule. And if value of blacklist rule is ['sass'], you can't `@import 'indented_sass_file.sass`, but you still can `@import 'indented_sass_file`. So, why this rule 'blacklist' exist, if you can bypass this rule by simply removing the extension of imported file?

Or, maybe, `@import "

[2019-07-29 07:57] kristerkari commented on #349
Okay, I think that there are two things getting mixed up here.

The extension blacklist/whitelist rules are only meant to restrict the extensions that you are allowed to use in your files.

To fix the issue that you are facing, there should be a new rule `at-import-partial-extension` with options `always`/`never`.

That way you can do this:

[code]

What do you think @amstiel?

[2019-07-29 08:04] kristerkari commented on #349
Some examples

[code]

[code]

---

[code]

[code]

[2019-07-29 08:15] amstiel commented on #349
@kristerkari Awesome 😄. That's what I'm talking about

[2019-08-02 07:26] #348 closed

[2019-08-02 19:28] kristerkari commented on #348
Fix released in v3.9.3
https://github.com/kristerkari/stylelint-scss/releases/tag/3.9.3

[2019-08-06 09:09] unikitty37 opened #352 "scss/* rules should not be processed on .css files"
When using stylelint-scss, the SCSS-specific rules are applied to `.css` files as well, even when they do not make sense.

Example: setting `scss/comment-no-loud` to `true` results in being unable to have *any* comments in a `.css` file, as it rejects `/* … */` comments, but `// …` is not valid in a .css file.

Rather than having to set ignores for each `scss/*` rule in each `.css` file, it would

[2019-08-06 10:49] kristerkari commented on #352
Thanks @unikitty37! I think that this might be a problem related to stylelint itself, the `stylelint-scss` plugin does not actually have control of to which files the rules are applied to.

[2019-08-08 05:10] greenkeeper[bot] opened #354 "An in-range update of postcss-value-parser is breaking the build 🚨"
## The dependency [postcss-value-parser](https://github.com/TrySound/postcss-value-parser) was updated from `4.0.1` to `4.0.2`.

🚨 [View failing branch](https://github.com/kristerkari/stylelint-scss/compare/master...kristerkari:greenkeeper%2Fpostcss-value-parser-4.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

postc

[2019-08-10 08:37] #354 closed

[2019-08-18 06:07] JounQin opened #359 "`declaration-nested-properties: "always"` emits `Expected a pseudo-class or pseudo-element.`"
[code]

The error is from `postcss-selector-parser`

[code]

[2019-08-18 16:05] kristerkari commented on #359
Thanks @JounQin !

I tried adding a unit test with the example that you gave, but it does not throw any error. Would you have some example to shere that throws the error?

[2019-08-18 22:27] JounQin commented on #359
https://github.com/1stG/configs/blob/master/packages/stylelint-config/scss.js#L15

You can clone the repository and change this line, and then simply run `yarn lint:style:scss`

[2019-08-19 07:31] kristerkari commented on #359
Thanks @JounQin! The error is actually coming from the `selector-nest-combinators` rule. I managed to reproduce the error with a unit test, so I'll prepare a fix for that rule.

[2019-08-19 10:25] JounQin commented on #359
Thanks for your quick response and fix.

[2019-08-20 10:08] #359 closed

[2019-08-23 14:37] vankop opened #361 "comment-no-empty for scss"
Regarding to https://github.com/stylelint/stylelint/pull/4216 it will be great, if it will be rule `scss/comment-no-empty` for SCSS-like comments

[2019-08-26 20:18] kristerkari commented on #352
Closing this as there is nothing that can be done about it here. Please open a new issue for stylelint's main repo if this is still a problem.

[2019-08-26 20:18] #352 closed

[2019-08-26 21:01] #349 closed

[2019-08-28 19:57] alexander-schranz opened #362 "New option ignore for selector-no-union-class-name allow specific"
I want to use the `selector-no-union-class-name` but allow to use union-class-name for specific classes which match a pattern.

In my use case the pattern would allow using for BEM modifiers union class name but would disallow them for BEM elements.

Regex: `^--(.*)$`

The following patterns are considered warnings:

[code]

The following patterns are *not* considered warnings:

[code]

Example co

[2019-08-29 09:23] kristerkari commented on #362
Sound good!

[2019-09-01 14:42] fuhlig opened #363 "`dimension-no-non-numeric-values` throws error"
Using the [demension-no-non-numeric-values](https://github.com/kristerkari/stylelint-scss/tree/master/src/rules/dimension-no-non-numeric-values) introduced in 3.10 I get the following error

[code]

[code]

The code inside the stylesheet does not matter. Setting the rule to `true` causes the error.

[2019-09-03 17:36] kristerkari commented on #363
Thanks, I'll have a look!

[2019-09-05 16:16] shavidzet opened #364 "How to lint spaces map keys"
[code]

[2019-09-05 18:23] kristerkari commented on #363
There is a pull request open with a fix: #365

[2019-09-06 15:23] #363 closed

[2019-09-07 02:13] mirisuzanne opened #366 "Support new Sass module syntax at-rules"
The new syntax ([now in beta](https://www.npmjs.com/package/sass/v/1.23.0-module.beta.1), planned for [release on Oct 1](https://github.com/sass/sass/blob/master/accepted/module-system.md#timeline)) replaces `@import` with `@forward` and `@use`. For now, I'm overriding stylelint-css with:

[code]

[2019-09-10 08:35] kristerkari commented on #366
Does it require anyrthing else than just whitelisting those two at-rules?

[2019-09-10 15:59] mirisuzanne commented on #366
Other syntax changes include namespaced variables, mixins, and functions - eg `module.$var`, `module.mixin()`, etc - but stylelint wasn't throwing errors for those, so I think this might be all? you can skim through [the spec](https://github.com/sass/sass/blob/master/accepted/module-system.md) and see if anything else stands out.

[2019-09-10 17:24] mirisuzanne commented on #366
`@use` and  `@forward` also have new syntax internally, that doesn't seem to break the linter as far as I can tell…

[code]

[2019-09-10 18:01] nex3 commented on #366
Even if the syntax parses, it's likely that you'll need to update a number of lints to be aware of the new module system semantics. You'll probably also want the Sass parser to fully parse at least `@use`, so that the linter can analyze expressions in the `with` clause.

[2019-09-16 12:03] evilebottnawi opened #368 "support stylelint@11"
:star: https://github.com/kristerkari/stylelint-scss/blob/master/package.json#L47

[2019-09-16 12:41] kristerkari commented on #368
This needs updating the dev dependency and the peer dependency in `package.json`.

[2019-09-16 14:49] bjankord commented on #368
I can send over a PR for this.

[2019-09-16 16:52] kirill-konshin opened #370 "Imports blacklist"
It would be great to allow conditional blocking of certain imports from certain paths just like this one: https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-restricted-paths.md

For example:

- node_modules/lib
  - colors.scss
  - index.scss
- src/app

`app` should not import `colors.scss` from `lib`, but can import `index.scss`, `lib` should not import anything from `app`

[2019-09-17 05:58] #368 closed

[2019-09-18 19:58] kristerkari commented on #370
Sounds quite good, but I need to look at the eslint rule to see how it works :)

[2019-09-18 19:59] kirill-konshin commented on #370
I guess even simple regex with `from` and `to` would be enough. Probably it may require path resolution though.

[2019-09-20 02:34] damienwebdev opened #374 "`selector-nest-combinators` fails within keyframes"
[code]

Fails with:

[code]

[2019-09-20 12:39] kristerkari commented on #374
Thanks! Looks like a bug :)

[2019-09-21 08:39] #374 closed

[2019-09-26 07:30] soullivaneuh opened #377 "Conflict with function-name-case rule"
# Problem

Camel case function imported from vendor are lower-cased by this rule:

[code]

In this example, the function will be turned to `findcolorinvert`.

The expected behavior would be to not be touched at all, as the function is declared like this.

# Workaround

I first search a way to disable the rule for `.scss` files, but I didn't see anything like this on `stylelint` configuration.

The

[2019-09-26 10:11] kristerkari commented on #377
Thanks @soullivaneuh!

You should post the same issue to https://github.com/stylelint/stylelint as the rule if part of stylelint itself and there is nothing we can do about it here :)

[2019-09-26 10:11] #377 closed

[2019-09-27 08:18] soullivaneuh commented on #377
I was guessing that, thanks for the confirmation. :+1:

[2019-09-27 14:54] evilebottnawi opened #378 "improve at-rule-conditional-no-parentheses"
Will be great if we implement new rule with name `at-rule-conditional-parentheses` with options: `never` and `always`. We try to always use parens to avoid misleading in code and keep our code based consistently with other programmers language where parens are required

[2019-09-27 14:56] evilebottnawi opened #379 "false positive in at-rule-conditional-no-parentheses"
Input:
[code]

Output:
[code]

Should be no errors

[2019-09-27 15:07] nex3 commented on #378
FWIW, we're working on an official Sass style guide endorsed by the team, and it likely won't allow parentheses in top-level control flow statements.

[2019-09-27 15:08] evilebottnawi commented on #378
@nex3 thanks for feedback, can you clarify why?

[2019-09-27 15:16] nex3 commented on #378
The same reason we don't encourage parentheses for, say, `@return`: they're syntactically unnecessary, and unnecessary punctuation generally adds clutter without conveying information. This is especially true for parentheses in Sass which are used to indicate maps and often lists. Also, in practice, it's most common for authors to omit these parentheses.

[2019-10-01 16:41] kristerkari commented on #379
Thanks!

[2019-10-01 16:48] kristerkari commented on #378
I was also thinking about that before merging `at-rule-conditional-no-parentheses`, but I decided that the `no-` rule is probably enough since the Sass team members think that it's better to not write the parens.

[2019-10-01 16:55] evilebottnawi commented on #378
Yep, but `sass` team has own opinion other can have other :smile:

[2019-10-01 16:57] kristerkari commented on #378
If someone strongly feels like such rule is needed, we can add it. I don't use the stylistic rules myself because I let prettier do the code formatting.

[2019-10-01 17:00] evilebottnawi commented on #378
@kristerkari now prettier print parens if they exists and do not print if they not, so if still need this rule

[2019-10-01 17:05] kristerkari commented on #378
Let's add the rule that you suggested if there are enough people who actually need it and can give some examples why they need it.

Let's not add rules just because someone _might_ need them.

[2019-10-01 17:17] evilebottnawi commented on #378
:+1:

[2019-10-09 15:15] in-in commented on #366
I have a conflict of [operator-no-unspaced](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/operator-no-unspaced/README.md) rule and new Sass module syntax

`@use "styles/mixins" as *;`
![192821570633943](https://user-images.githubusercontent.com/8797432/66494513-7475ac00-eac0-11e9-9ec3-4b8375e6811f.png)

[2019-10-14 13:30] akoidan opened #380 "for loop crashes with vue + sass"
**package.json**:
[code]

**App.vue**:
[code]

**.stylelintrc** (the rule is not relevant, just add something to trigger the linter):
[code]

[code]

[code]

[2019-10-16 15:51] kristerkari commented on #380
You probably need to run the linter with `--syntax sass` flag.

[2019-10-16 16:51] akoidan commented on #380
Thanks for the response @kristerkari. I'm actually using stylelint-webpack-plugin. You can see the setup [here](https://github.com/akoidan/vue-webpack-typescript) so here're some facts:
 - If I introduce some linting issues in `.vue` files, lets say `color: #FFFFFF` stylelint will warn me on running the webpack
 - If I remove the plugin from `webpack.config.js` and leave the source with that issue

[2019-10-18 21:30] in-in opened #383 "Undefined rule scss/no-duplicate-mixins"
It seems this `no-duplicate-mixins` rule doesn't work properly.

VSCode: 1.39.0
vscode-stylelint (shinnn.stylelint): 0.51.0
stylelint-scss: 3.11.1

![192921571433510](https://user-images.githubusercontent.com/8797432/67129277-dfcd2580-f206-11e9-875f-0af0dd066b47.png)

[2019-10-19 16:42] tysongach commented on #366
Looks like https://github.com/kristerkari/stylelint-scss/pull/381 adds general support for `@use` - I left a comment on that PR about also including `@forward`.

[2019-10-22 19:40] gr4vitonn opened #384 "Test colons in map"
I read the documentation and did not find any way to check the colons in map, which would make the map valid.

Example for a wrong scenario:

[code]

Note that the colon is missing from the end of the first key.

Did I miss something in the docs? Is it possible to check it?

[2019-10-22 20:13] #384 closed

[2019-10-23 01:25] winterlamon commented on #383
I ran into the same error. After some investigation, it looks like `no-duplicate-mixins` just got merged to master on October 9, but that latest version (3.11.1) was released on September 21. So I imagine it will be available whenever the next release happens. Perhaps someone can shine some light on the release timeline.

[2019-10-23 06:36] kristerkari commented on #380
Hmm.. I wonder if this is related to PostCSS' sass syntax parser, which I think might still be a bit of a work-in-progress.

[2019-10-23 06:36] kristerkari commented on #380
Does the same work if you use SCSS to write Sass?

[2019-10-23 06:37] kristerkari commented on #383
I'll prepare the release now :)

[2019-10-23 06:50] kristerkari commented on #383
it's realeased in 3.12.0: https://github.com/kristerkari/stylelint-scss/releases/tag/3.12.0

[2019-10-23 06:50] #383 closed

[2019-10-23 12:57] tysongach opened #386 "Unexpected results when using map-keys-quotes and Sass operators"
The [map-keys-quotes](https://github.com/kristerkari/stylelint-scss/tree/master/src/rules/map-keys-quotes) linter is throwing false positives when using [Sass operators](https://sass-lang.com/documentation/operators) (such as `*` or `+`) inside values.

Given the following map, map-keys-quotes throws an error:

[code]

Upon investigating, it appears to want the value `$variable * 2` to be quoted.

[2019-10-23 17:53] akoidan commented on #380
Oh, it's not even related to stylelint-scss. I thought this was a syntax parser, rather than lint of rules. It breaks w/o this plugin.

[2019-10-23 17:53] #380 closed

[2019-10-23 18:12] akoidan commented on #380
Moved conversation further to https://github.com/stylelint/stylelint/issues/4373

[2019-10-24 15:47] kimulaco opened #387 "Use @use rule's namespace will result in a font-family-no-missing-generic-family-keyword error."
Even if sans-serif is specified, using namespace will result in an error.

"@use" isn't a CSS standard feature, so you may need a new "scss/font-family-no-missing-generic-family-keyword" rule.

[code]

[code]

[code]

[@use - Choosing a Namespace](https://sass-lang.com/documentation/at-rules/use#choosing-a-namespace)

[2019-10-24 19:33] kristerkari commented on #387
Thanks!

Rather than creating a new rule to just fix that error, I think that it would be better to fix the stylelint rule to not throw an error when namespaces are used.

[2019-10-25 00:21] kimulaco commented on #387
Thanks.
I'm sorry, but I don't have much knowledge about developing stylelint plugins, can this be overridden by plugins?
Or does [stylelint](https://github.com/stylelint/stylelint) require support?

[2019-10-25 00:45] kimulaco commented on #387
I found a point in [stylelint](https://github.com/stylelint/stylelint) that needs to be fixed, so I will issue an issue on stylelint.
Thank you for checking.

[2019-10-27 17:11] in-in opened #388 "dollar-variable-no-missing-interpolation rule doesn't work with custom properties"
The `dollar-variable-no-missing-interpolation` rule doesn't work with custom properties

This code snippet does not generate a warning:
[code]

[2019-10-30 17:01] kristerkari commented on #388
Thanks! I need to have a look at this one.

[2019-10-30 17:12] kristerkari commented on #386
Thanks! That definitely should not give a warning.

[2019-10-31 17:08] srawlins opened #389 "An asterisk in a @forward statement triggers scss/operator-no-unspaced"
See the prefix docs for `@forward`: https://sass-lang.com/documentation/at-rules/forward#adding-a-prefix:

[code]

[2019-11-01 05:59] JounQin opened #390 "[feature request]: `selector-nest-combinators` option `least`"
First case which should emit error:

[code]

Second case which should be allowed:
[code]

@kristerkari What do you think?

[2019-11-03 09:14] kristerkari commented on #389
Thanks! Seems like a bug.

[2019-11-03 09:37] #389 closed

[2019-11-03 10:11] #386 closed

[2019-11-03 10:50] #379 closed

[2019-11-05 23:42] kimulaco commented on #387
Close because stylelint has been modified.

[2019-11-05 23:42] #387 closed

[2019-11-06 01:20] nex3 opened #394 "Add a lint for style rules whose selectors are just "&""
Sometimes mixin authors who don't fully understand how parent selectors work will write `&` as the sole selector for a style rule rather than including properties in the root level of the mixin. We should add a lint to warn them away from this practice. For example:

[code]

is semantically identical to:

[code]

/cc @rambleraptor

[2019-11-07 08:32] kristerkari commented on #394
I'm thinking that could it be part of the existing rule for selectors (even if it's related to mixins)?

https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/selector-no-redundant-nesting-selector/README.md

[2019-11-07 21:50] nex3 commented on #394
Yeah, that looks like it would make sense.

[2019-11-15 10:11] kristerkari commented on #390
Hi @JounQin and sorry for the late reply.

I'm not totally sure what's the use case for having such option, could you provide another example that would maybe be related to some issue that you are having with the rule?

Also, why is the option called `least`? Is that a good name to describe it?

I'm totally ok with adding the option, but I just need to understand it properly first.

[2019-11-15 13:39] JounQin commented on #390
@kristerkari We don't want to add redundant nested block in our team, so current option `always | never` is both too strict and unreasonable for us.

[code]

Maybe `as-needed` be better or not?

[2019-11-17 01:20] nex3 opened #397 "Add a lint for using global function names"
Now that the module system has launched, functions that are available from modules should be called using those modules rather than using their global aliases. The canonical list of which functions have moved to which modules is [in the module system proposal](https://github.com/sass/sass/blob/master/accepted/module-system.md#built-in-modules-1).

Maybe the lint should also link to the [Sass migra

[2019-11-17 06:48] XhmikosR opened #398 "Switch to GitHub Actions"
I'll take a stab at it later

[2019-11-17 06:49] XhmikosR opened #399 "Reduce lodash usage"
I have a working patch I'll submit it later

[2019-11-17 06:50] XhmikosR opened #400 "Remove babel"
I can't see any reason to keep using babel if you target modern Node.js versions and should simplify things a lot. Also, jest should work out of the box IIRC with import/exports.

Feel free to ping me if anyone makes a WIP branch :)

[2019-11-17 06:50] XhmikosR opened #401 "Update for Stylelint 12.0.0"

[2019-11-17 07:14] XhmikosR opened #407 "Change prepublish to prepare"
This has been deprecated for quite some time now

[2019-11-17 16:09] XhmikosR opened #411 "Replace lodash uniq with `Set`"
Probably after #406, or in #406 if I find the time :)

[2019-11-18 08:20] kristerkari commented on #398
Sure, thanks for helping!

[2019-11-18 08:38] kristerkari commented on #400
That's correct. Babel is in use because the ES2015 support was not that good in Node.js still a few years ago.

I'm fine with removing it, if it does not cause any compatibility issues that can not easily be solved.

[2019-11-18 08:40] kristerkari commented on #407
Thanks, definitely something that should be done.

[2019-11-18 08:49] XhmikosR commented on #400
I'm not sure how to proceed with the imports/exports. I have a WIP (broken) branch [here](https://github.com/kristerkari/stylelint-scss/compare/master...XhmikosR:rm-babel) but things will need to change.

So maybe it's time for a 4.0.0 release where we do this and the other breaking changes? BTW let me know if you have any suggestions how to solve the exports issue.

[2019-11-18 09:34] XhmikosR commented on #407
If we drop babel, this is moot :)

[2019-11-18 09:53] XhmikosR commented on #400
I think only the utils are left in my branch. Let me know if I should continue with this. IMO it's definitely a good move since it makes things cleaner.

[2019-11-18 12:13] kristerkari commented on #400
Hmm... there are some things ready to review and publish, so maybe it's better to get this repository to a bit cleaner state before releasing 4.0.0. During the Christmas time could be a good moment to do it.

Removing Babel does not bring much benefit for the end user, so it should not be a high priority for now.

[2019-11-18 12:39] XhmikosR commented on #400
Yeah, sure. I just want us to get it done, especially since I've done most of the changes :)

That being said, I'd say let's get the other PRs merged and you release a new version for now.